@font-face {
  font-family: 'Myanmar3';
  src: local('Myanmar3'), url('../font/myanmar3.ttf') format("truetype");
  -webkit-font-smoothing: antialiased;
  text-shadow: 0px 0px 1px rgba(255,255,255,0.3);
  font-weight: normal;
  font-style: normal;
}

body,p,span{
    font-family: 'Myanmar3' !important;
}

a{
    text-decoration: none !important;
    color: #000;
}
/*home page*/
.home-bgcolor{
	background-color: #7dc7f6;
    
}
.header-logo{
	width: 100px;
	height: 100px;
}

#header .header-title{
	text-shadow: 4px 5px 5px grey;
	color: #fff;
}

header {
    position: absolute;
    width: 100%;
    z-index: 1;
}

.header-nav {
    margin: 30px 64px;
    box-shadow: 0px 10px 0px -4px rgb(0, 156, 255);
    background: rgba(255,255,255,0.9);
    -ms-transform: skewY(-20deg);
    -webkit-transform: skewY(-20deg);
    transform: skewX(-20deg);
}

.menu-header {
    margin: 0 17px;
    -ms-transform: skewY(20deg);
    -webkit-transform: skewY(20deg);
    transform: skewX(20deg);
}

.carousel-caption {
    position: absolute;
    color: white;
    left: 0;
    bottom: 0;
    font-family: 'Josefin Sans', sans-serif;
    background: linear-gradient(to right,rgba(0,0,70,0.47),rgba(28,181,224,0.52),rgba(138,166,191,0.23));
    padding: 50px 60px;
    font-size: 27px;
    text-align: left;
    line-height: 30px;
    right: 70%;
    opacity: 0;
    -webkit-transition: 2s all ease-in-out .1s;
    -moz-transition: 2s all ease-in-out .1s;
    -ms-transition: 2s all ease-in-out .1s;
    -o-transition: 2s all ease-in-out .1s;
    transition: 2s all ease-in-out .1s;
}

.active .carousel-caption {
    opacity: 1;
    -webkit-transition: 2s all ease-in-out .1s;
    -moz-transition: 2s all ease-in-out .1s;
    -ms-transition: 2s all ease-in-out .1s;
    -o-transition: 2s all ease-in-out .1s;
    transition: 2s all ease-in-out .1s;
}

.para::before {
    content: "";
    position: absolute;
    top: 35px;
    left: 60px;
    border-top: 3px solid white;
    width: 60px;
}

.para:after {
    content: "";
    position: absolute;
   /* bottom: 70px;*/
    right: 75px;
    border-top: 3px solid white;
    width: 60px;
    top: 80%;
}


.navbar .navbar-collapse #menu-main {
    position: relative;
    padding: 5px;
}

.navbar .navbar-collapse #menu-main li {
    margin-right: 15px;
    position: relative;
}


.slider-image-container-fluid{
	padding: 0px;
}

.carousel-item {
    height: 100%;
    background-position: center !important;
    background-size: cover !important;
}

.new-link a{
    color: #000;
    text-decoration: none;
    padding: 10px 30px;
    transition: 0.5s all ease-in-out;
}

.new-link a:hover{
    background: #7dc7f6;
    padding: 10px 30px;
    color: #fff;
    border-radius: 20px;
    text-decoration: none;
}

.new-box{
    border: 1px solid #8080804d;
    border-radius: 10px;
    transition: 0.5s all ease-in-out;
}

.new-box:hover{
    box-shadow: 5px 5px 20px #8080807a;
}

.new-date{
    color: #818182;
    font-size: 12px;
}

.btn-news{
	border:1px solid rgba(0,0,0,0.1)
}


.btn-danger:hover{
	transition: all 0.5s ease-in-out;
	background-color: #fff;
	color: #dc3545;
	border-color: #dc3545;
}

.button {
    color: #dc3545;
    border-color: #dc3545 !important;
}

.button--rayen {
    overflow: hidden;
    padding: 0;
}

.button--border-thin {
    border: 1px solid;
}

.button--text-thick {
    font-weight: 400;
}

.button--size-s {
    font-size: 15px;
}

.button {
    vertical-align: middle;
    position: relative;
    z-index: 1;
    -webkit-backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    border-radius: 5px;
}

.button--rayen:hover::before {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.button--rayen::before, .button--rayen > span {
    padding: 0.5em .8em;
    -webkit-transition: -webkit-transform 0.7s;
    transition: transform 0.7s;
    -webkit-transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
    transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
}

.button--rayen::before {
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #dc3545;
    border-color: #dc3545 !important;
    color: #fff;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
}

.button--rayen:hover > span {
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
}

.button--rayen > span {
    padding: 0.5em .8em;
    -webkit-transition: -webkit-transform 0.7s;
    transition: transform 0.7s;
    -webkit-transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
    transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
}

.button--rayen > span {
    display: block;
}

.button > span {
    vertical-align: middle;
}


.text-bgcolor{
	background-color: #fff;
    border-radius: 10px;
}

.activites-img{
	box-shadow:5px 5px 20px grey;
}

/*end home page*/

/*slider_bar*/

.sidebar-content{
	padding: 0;
}

.each-lp{
	margin-bottom: 15px;
    border: 1px solid rgba(0,0,0,0.1);
    border-radius: 5px;
    padding: 25px;
    transition: border-color 0.5s ease-in-out;
    overflow: hidden;
    height: 100px;
    position: relative;
    box-shadow: 1px 1px 1px #f3f3f3;
}

.slide-img{
	opacity: 0;
    transition: all .3s ease-in;
}

.each-lp:hover .slide-img {
    opacity: 1;
    position: absolute;
    left: 0;
    width: 100%;
    overflow: hidden;
    top: 0;
    height: 100%;
    background-size: cover;
    z-index: 1;
}

.each-lp:hover .dept-name{
	color: white;
}

.sidebar-content a:hover {
    text-decoration: none;
}


.each-lp .slide-img:before {
    position: absolute;
    content: '';
    z-index: 10;
    pointer-events: none;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.5);
    left: 0;
    top: 0;
    border-radius: 5px;
}

.each-lp .dept-name {
    position: relative;
    z-index: 2;
    color: #525252;
    font-weight: 600;
    transition: all 0.5s ease-in-out;
}


/*end slider_bar*/

/* new slider bar */
#news{
    border-bottom: 1px solid #b9b7b77a;
    padding-bottom: 45px;
}

.new-wrap .list-unstyled .media{
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #80808059;
    transition: .5s all ease-in-out;
}

/* #new-slider-bar .new-wrap{
    border: 1px solid #80808042;
    border-radius: 10px;
    padding: 10px;
} */

.new-wrap .list-unstyled .media:hover {
    box-shadow: 1px 5px 10px #80808042;
}

.new-wrap .list-unstyled .media .media-body p{
    color: #7dc7f6;
}

/* end new slider bar */

/*degree*/
#degree-header {
    text-align: center;
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    position: relative;
    overflow: hidden;
    height: 380px;
}

#degree-header::before {
    content: '';
    background: rgba(0,0,0,0.5);
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

#degree-header .header-text-wrap {
    text-align: center;
    background: rgba(255,255,255,0.1);
    padding: 30px 20px;
    position: relative;
    margin-top: 20%;
}

#degree-header .header-text-wrap .inner-header-text {
    padding: 30px 0;
}

#degree-header .header-text-wrap .inner-header-text h1 {
    font-size: 26px;
    text-transform: uppercase;
    font-weight: 600;
    color: #fff;
}

#bcs-bct h2{
    position: relative;
}

#bcs-bct h2::after{
    position: absolute;
    content: '';
    width: 25%;
    height: 3px;
    background: #7dc7f6;
    bottom: 10px;
    left: 38%;
}
/*end degree*/

/*department*/

/*#add-listings-inner-header {
    text-align: center;
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    position: relative;
    overflow: hidden;
    height: 380px;
}

.depart-list{
    background: url(/img/sd.png);
    height: 500px;
}

#add-listings-inner-header:before {
    content: '';
    background: rgba(0,0,0,0.5);
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

#add-listings-inner-header .header-text-wrap {
    text-align: center;
    background: rgba(255,255,255,0.1);
    padding: 30px 20px;
    position: relative;
    margin-top: 25%;
}

#add-listings-inner-header .header-text-wrap .inner-header-text {
    padding: 30px 0;
}

#add-listings-inner-header .header-text-wrap .inner-header-text h1 {
    font-size: 26px;
    text-transform: uppercase;
    font-weight: 600;
    color: #fff;
    letter-spacing: 3px;
}*/

/*#add-listings-inner-header .header-text-wrap .inner-header-text #breadcrumbs {
    font-weight: 400;
    text-transform: uppercase;
    font-size: 14px;
}*/

#department-header {
    text-align: center;
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    position: relative;
    overflow: hidden;
    height: 500px;
}

#department-header:before {
    content: '';
    background: rgba(0,0,0,0.5);
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

#department-header .header-text-wrap {
    text-align: center;
    background: rgba(255,255,255,0.1);
    padding: 30px 20px;
    position: relative;
    margin-top: 30%;
}

#department-header .header-text-wrap .inner-header-text {
    padding: 30px 0;
}

#department-header .header-text-wrap .inner-header-text h1 {
    font-size: 26px;
    text-transform: uppercase;
    font-weight: 600;
    color: #fff;
    letter-spacing: 2.5px;
}

#dept-pg .tech-whole{
    position: relative;
    box-shadow: 1px 1px 20px grey;
}
.t-img{
    width: 100%;
}
.teacher-name{
    width: 100%;
    height: 80px;
    background: rgb(118,204,249,0.5);
    bottom: 0;
    position: absolute;
    color: white;
}


/*end department*/

/*contact us*/
#contact-header {
    text-align: center;
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    position: relative;
    overflow: hidden;
    height: 380px;
}

#contact-header:before {
    content: '';
    background: rgba(0,0,0,0.5);
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

#contact-header .header-text-wrap {
    text-align: center;
    background: rgba(255,255,255,0.1);
    padding: 30px 20px;
    position: relative;
    margin-top: 20%;
}

#contact-header .header-text-wrap .inner-header-text {
    padding: 30px 0;
}

#contact-header .header-text-wrap .inner-header-text h1 {
    font-size: 26px;
    text-transform: uppercase;
    font-weight: 600;
    color: #fff;
}
#contact-pg{
    background-color: #7dc7f6;
}
#contact-pg .contact-info{
    background-color: #fff;
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0px 14px 40px rgba(0,0,0,0.49);
}

#contact-pg .list-unstyled .media-mail{
    word-break: break-all;
}

#contact-pg .list-unstyled .media-mail p a{
    text-decoration: none !important;
}
#contact-pg .btn-send{
    padding: 10px 60px;
    background: #7dc7f6;
    border-radius: 20px;
}

#contact-pg .fa-map-marker,#contact-pg .fa-envelope-o,#contact-pg .fa-phone,#contact-pg .fa-facebook{
    font-size: 30px;
}

#map{
    width: 100%;
    min-height: 400px;
}
/*end contact us*/

/*about us*/
#about-us-header {
    text-align: center;
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    position: relative;
    overflow: hidden;
    height: 380px;
}

#about-us-header:before {
    content: '';
    background: rgba(0,0,0,0.5);
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

#about-us-header .header-text-wrap {
    text-align: center;
    background: rgba(255,255,255,0.1);
    padding: 30px 20px;
    position: relative;
    margin-top: 20%;
}

#about-us-header .header-text-wrap .inner-header-text {
    padding: 30px 0;
}

#about-us-header .header-text-wrap .inner-header-text h1 {
    font-size: 26px;
    text-transform: uppercase;
    font-weight: 600;
    color: #fff;
}

#about-us-header .header-text-wrap .inner-header-text #breadcrumbs {
    font-weight: 400;
    text-transform: uppercase;
    font-size: 14px;
}

#vision-mission .mission-wrap , #vision-mission .vision-wrap{
    background: #7dc7f6;
    height: 100%;
    padding: 3%;
    border-radius: 20px;
}

#vision-mission .mission-wrap .mission-border , #vision-mission .vision-wrap .vision-border{
    border: 5px solid #fff;
    padding: 8%;
    height: 100%;
    border-radius: 20px;
    color: #fff;
}
/*swiper*/
    .swiper-container {
      width: 100%;
      height: 100%;
      /*border-radius: 20px;
      box-shadow: 1px 1px 50px rgba(0,0,0,0.3);*/
      background-color: #eee;
    }
    .swiper-slide {
      text-align: center;
      font-size: 18px;
      background: #fff;
      /* Center slide text vertically */
      display: -webkit-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      -webkit-justify-content: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      -webkit-align-items: center;
      align-items: center;
    }

    #deve-profile .swiper-container .swiper-button-next,#deve-profile .swiper-container .swiper-button-prev{
        background-size: 10px;
        width: 35px;
        height: 35px;
        border: 2px solid;
        border-radius: 50%;
        color: #7dc7f6;
        transition: all .5s ease-in-out;
    }

#deve-profile {
    background: #eee;
   /* position: relative;*/
}
.about-title{
    position: relative;
}

#about-uni{
    background: rgba(220,220,220,0.2);
    padding: 20px 0;
}

#about-uni p{
    padding: 20px 0;
}

#about-uni .about-title::after{
    content: '';
    width: 20%;
    position: absolute;
    top: 134%;
    bottom: 0;
    left: 40%;
    height: 2px;
    background-color: #28abff;
}

#vision-mission .vm-title{
    position: relative;
}

#vision-mission .vm-title::after{
    content: '';
    width: 25%;
    position: absolute;
    /*top: 129%;*/
    bottom: 0;
    left: 38%;
    height: 2px;
    background-color: #28abff;
}

#deve-profile .dev-title::after{
    content: '';
    width: 25%;
    position: absolute;
    top: 120%;
    bottom: 0;
    left: 38%;
    height: 2px;
    background-color: #28abff;
}

#deve-profile .swiper-container .swiper-button-prev::before{ 
        font-family: "FontAwesome";
        font-weight: 900; 
        content: "\f053";
        position: absolute;
        top: -1px;
        left: 7px;
        font-size: 22px; 
}
#deve-profile .swiper-container .swiper-button-next::before{
        font-family: "FontAwesome";
        font-weight: 900; 
        content: "\f054";
        top: -1px;
        left: 10px;
        font-size: 22px;
        position: absolute;
    
}

#deve-profile .swiper-container .swiper-wrapper .swiper-slide{
    padding: 50px;
    background-color: #eee;
}

#deve-profile .swiper-container .swiper-wrapper .swiper-slide .dev-detail{
    margin-top: 180px;
}
    /*end swiper*/

/*end about us*/

/* news pg */
#news-pg #news{
    border:none;
}

#news-pg #pagination .page-item.active .page-link{
    background-color: #7dc7f6;
    border-color: #7dc7f6;
    color: #fff;
}

#news-pg #pagination .page-item .page-link{
    color: #7dc7f6;
}

/* end news pg */

/* activity page */
#activity-pg{
    background-color:#f7f9fb;
}

#activity-pg .card-wrap{
    box-shadow: 1px 1px 50px rgba(0,0,0,0.3);
}
#activity-pg .card-wrap .card-body .card-date{
    color:#818182;
    font-size: 12px;
}
#activity-pg .card-wrap .card-body .card-link{
    border-bottom: 2px solid;
    text-decoration:none;
}
/* end activity page */

/*single page*/
#single-pg{
    padding: 50px;
}

#single-pg .blog-img{
    border-radius: 5px;
    box-shadow: 0px 14px 40px rgba(0,0,0,0.49);
    margin-bottom: 20px;
    width: 100%;
}

#single-pg .blog-date{
    font-size: 14px;
    color: #7dc7f6;
    font-weight: 900;
}
/*end single page*/

/*error pg*/
#error-pg{
    text-align: center;
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    position: relative;
    overflow: hidden;
    height: auto;
}

#error-pg::before {
    content: '';
    background: rgba(0,0,0,0.5);
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

#error-pg .header-text-wrap {
    text-align: center;
    background: rgba(6, 6, 6, 0.1);
    padding: 30px 20px;
    position: relative;
    margin: 20% 0 5% 0;
}

#error-pg .header-text-wrap .inner-header-text {
    padding: 30px 0;
}

#error-pg .header-text-wrap .inner-header-text p{
    color: #fff;
    font-size: 32px;
}

#error-pg .header-text-wrap .inner-header-text h1 {
    font-size: 150px;
    text-transform: uppercase;
    font-weight: 600;
    color: #fff;
}

#error-pg .header-text-wrap .inner-header-text a{
    font-size: 20px;
    color: #fff;
    background-color: #7dc7f6;
    padding: 10px;
    border-radius: 10px;
}

/*end error pg*/
@media (max-width: 1199.98px){
	.header-title{
		font-size: 34px;
	}
	.bg-light {
    	margin: 30px 150px; 
	}

	.nav-link {
        font-size: 15px;
	}

    .carousel-caption{
        padding: 35px 30px;
        font-size: 20px;
    }
    .para::before{
        top: 25px;
        left: 30px;
    }

    .para::after{
        right: 65px;
        top: 85%;
    }
    h2{
        font-size: 2em;
    }
    /*department*/
    #department-header .header-text-wrap{
        margin-top: 35%;
    }
}

@media (max-width: 991px){
    header{
        position: relative;
    }
    header .container-fluid{
        padding: 0;
    }

    header .header-nav{
        margin: 0;
        box-shadow: none;
        background: rgb(89, 185, 247);
    }

	.header-logo {
        width: 70px;
        height: 70px;
    }
	.header-title{
		font-size: 24px;
	}
	.navbar-light .navbar-nav .nav-link{
        color: #fff;
    }

    header .header-nav{
        -ms-transform: skewY(0deg);
        -webkit-transform: skewY(0deg);
        transform: skewX(0deg);
        background: rgba(89, 185, 247, 0.71);
    }

    .menu-header {
        margin: 0 17px;
        -ms-transform: skewY(0deg);
        -webkit-transform: skewY(0deg);
        transform: skewX(0deg);
    }
    #carouselExampleIndicators .carousel-inner .carousel-item img{
        height: 300px;
    }

    .carousel-caption{
        font-size: 16px;
    }
    .carousel-caption .para p{
        margin: 0;
    }
    .para::after{
        right: 35px;
    }
    h2{
        font-size: 1.5em;
    }
    h3{
        font-size: 1.5em;
    }
    /*department pg*/
    /*#add-listings-inner-header .header-text-wrap .inner-header-text h1{
        font-size: 22px;
    }
    #add-listings-inner-header .header-text-wrap{
        margin-top: 40%;
    }*/

    /*about pg*/
    #about-us-header .header-text-wrap{
        margin-top: 30%;
    }

    /*contact pg*/
    #contact-header .header-text-wrap{
        margin-top: 30%;
    }

    /*department pg*/
    /*about pg*/
    #department-header{
        height: 260px;
    }
    #department-header .header-text-wrap{
        margin-top: 20%;
    }

}

@media (max-width: 768px) {
    /*home slider */
    #carouselExampleIndicators .carousel-inner .carousel-item img{
        height: 250px;
    }
    .carousel-caption{
        display: none;
    }
    h5{
        font-size: 19px;
    }
    .header-title{
        font-size: 22px;
    }
    /*department pg*/
    #add-listings-inner-header .header-text-wrap{
        margin-top: 55%;
    }
    /*about pg*/
    #about-us-header .header-text-wrap{
        margin-top: 42%;
    }

    /*contact pg*/
    #contact-header .header-text-wrap{
        margin-top: 42%;
    }
    /*department pg*/
    #department-header .header-text-wrap .inner-header-text h1{
        font-size: 18px;
    }
    #department-header .header-text-wrap{
        margin-top: 25%;
    }
}

@media (max-width: 575.98px) { 
    /*home slider*/
    #carouselExampleIndicators .carousel-inner .carousel-item img{
        height: 200px;
    }
    h5{
        font-size: 18px;
    }
    .header-logo{
        width: 50px;
        height: 50px;
    }
    .header-title{
        font-size: 16px;
    }

    /*department pg*/
    #add-listings-inner-header .header-text-wrap{
        display: none;
    }
    #add-listings-inner-header{
        background-size: contain !important;
    }
    #add-listings-inner-header::before{
        display: none;
    }
    #add-listings-inner-header{
        height: 220px;
    }

    #dept-pg h1{
        font-size: 27px;
    }

    #department-header .container{
        display: none;
    }

    /*about pg*/
    #about-us-header .header-text-wrap{
        margin-top: 135px;    
    }

    /*contact pg*/
    #contact-header .header-text-wrap{
        margin-top: 135px;    
    }
}

@media (min-width: 320px) and (max-width: 439px) {
    .header-title{
        font-size: 13px;
    }
    #carouselExampleIndicators .carousel-inner .carousel-item img{
        height: 150px;
    }
    h5{
        font-size: 15px;
    }

    .new-wrap .list-unstyled .media .media-body p{
        font-size: 13px;
    }

    body,p,span{
        font-size: 14px;
    }
}
