<template>
	<div class="container mt-5">
	    <div class="row justify-content-center">
	        <div class="col-md-8">
	        	<v-alert
				      v-model="alert"
				      dismissible
				      type="success"
				      transition="scale-transition">
				      Password updated successfully!
				    </v-alert>
	            <div class="card mt-3">
	                <div class="card-header">Update Password</div>
	                <div class="card-body">
	                    <form method="post">
	                    	<div class="form-group row">
	                            <label for="password" class="col-md-4 col-form-label text-md-right">Current Password</label>

	                            <div class="col-md-6">
	                                <input id="current-password" v-model="currentPassword" type="password" class="form-control" name="password" required>
	                                <span class="invalid-feedback" role="alert">
	                                    <strong>{{ error }}</strong>
	                                </span>
	                            </div>
	                        </div>

	                        <div class="form-group row">
	                            <label for="password" class="col-md-4 col-form-label text-md-right">New Password</label>

	                            <div class="col-md-6">
	                                <input id="new-password" v-model="newPassword" type="password" class="form-control" name="password" required>
	                                <span class="invalid-feedback" role="alert">
	                                    <strong>{{ newPasswordError }}</strong>
	                                </span>
	                            </div>
	                        </div>

	                        <div class="form-group row">
	                            <label for="confirmed-password" class="col-md-4 col-form-label text-md-right">Retype New Password</label>

	                            <div class="col-md-6">
	                                <input id="confirmed-password" v-model="confirmedPassword" type="password" class="form-control" name="password_confirmation" required>
		                            <span class="invalid-feedback" role="alert">
		                                <strong>Passwords do not match!</strong>
		                            </span>
		                        </div>
	                        </div>


	                        <div class="form-group row mb-0">
	                            <div class="col-md-6 offset-md-4">
	                                <button  class="btn btn-primary" @click.prevent="resetPassword">
	                                    Reset Password
	                                </button>
	                            </div>
	                        </div>
	                    </form>
	                </div>
	            </div>
	        </div>
	    </div>
	</div>
</template>

<script>
	import { mapState } from 'vuex'
    export default {
    	data(){
    		return{
    			alert: false,
    			error: '',
    			newPasswordError: 'New password must be filled!',
    			currentPassword: '',
    			newPassword: '',
    			confirmedPassword: '',
    		}
    	},
    	methods:{
    		resetPassword: function(){
    			if(this.currentPassword)
    				$('#current-password').removeClass('is-invalid')
    			else{
    				$('#current-password').addClass('is-invalid')
    				this.error = "Password must be filled!"
    				return
    			}

    			if(this.newPassword && this.confirmedPassword){
    				if(this.newPassword != this.confirmedPassword){
    					$('#confirmed-password').addClass('is-invalid') 
    				}
    				else{
    					$('#confirmed-password').removeClass('is-invalid')
    					axios.put(`/api/user/update-password/${this.user.id}`, {
    						current_password: this.currentPassword, 
    						new_password:this.newPassword,
    						password_confirmation: this.confirmedPassword
    					}).then(response => {
    						if(response.data == true){
    							this.alert = true
    							$('#current-password, #new-password, #confirmed-password').removeClass('is-invalid') 
    							this.currentPassword = ''
    							this.newPassword = ''
    							this.confirmedPassword = ''
    						}
    						else{
    							this.error = "Password incorrect!"
    							$('#current-password').addClass('is-invalid')
    							$('#new-password, #confirmed-password').removeClass('is-invalid')  
    						}
				        }).catch(error => {
				        	this.newPasswordError = error.response.data.errors.new_password[0]
				        	$('#new-password').addClass('is-invalid') 
				        })
    				}
    			}
    			else
    				$('#new-password, #confirmed-password').addClass('is-invalid') 
    		},
    	},
    	computed: {
		  	...mapState([
		  		'user'
		  	])
		},
		created(){
	        axios.get('/api/posts').then(response => {
	            this.$store.commit('assignPosts', response.data)
	        })
		},
    }
</script>

<style scoped>
	
</style>
