<template>
	<div class="containder-fluid dashboard">
		<!-- Overall View -->
		<div class="mx-3">
			<!-- Current Status -->
		 	<div class="row">
		 		<div class="col-md-3 col-lg-3 col-xl-3 col-6">
		 			<div class="card  mt-3 bg-blue">
						<div class="card-body row text-white">
					    	<div class="text-center body" style="width: 50%;">
					    		<h1>{{ posts }}</h1>
					    	    Posts
					    	</div>
					    	<div class="text-center icon-container" style="width: 50%;">
					    		<span class="fas fa-thumbtack icon"></span>
					    	</div>
					  	</div>
					  	<!-- <div class="card-footer text-center text-white" @click="moreInfoPosts">
					  		<router-link to="/posts" class="more-info">
					  			More info <span class="fas fa-arrow-circle-right"></span>
					  		</router-link>
					  	</div> -->
					</div>
		 		</div>
		 		<div class="col-md-3 col-lg-3 col-xl-3 col-6">
		 			<div class="card mt-3 bg-green">
						<div class="card-body row text-white">
					    	<div class="text-center body" style="width: 50%;">
					    		<h1>{{ pages }}</h1>
					    	    Pages
					    	</div>
					    	<div class="text-center icon-container" style="width: 50%;">
					    		<span class="fas fa-file icon"></span>
					    	</div>
					  	</div>
					  	<!-- <div class="card-footer text-center text-white">
					  		<router-link to="/pages" class="more-info">
					  			More info <span class="fas fa-arrow-circle-right"></span>
					  		</router-link>
					  	</div> -->
					</div>
		 		</div>
		 		<div class="col-md-3 col-lg-3 col-xl-3 col-6">
		 			<div class="card mt-3 bg-yellow">
						<div class="card-body row text-white">
					    	<div class="text-center body" style="width: 50%;">
					    		<h1>{{ todayVisitors }}</h1>
					    	    Visitors Today
					    	</div>
					    	<div class="text-center icon-container" style="width: 50%;">
					    		<span class="fas fa-users icon"></span>
					    	</div>
					  	</div>
					  	<!-- <div class="card-footer text-center text-white">
					  		More info <span class="fas fa-arrow-circle-right"></span>
					  	</div> -->
					</div>
		 		</div>
		 		<div class="col-md-3 col-lg-3 col-xl-3 col-6">
		 			<div class="card mt-3 bg-red">
						<div class="card-body row text-white">
					    	<div class="text-center body" style="width: 50%;">
					    		<h1>{{ users }}</h1>
					    	    Users
					    	</div>
					    	<div class="text-center icon-container" style="width: 50%;">
					    		<span class="fas fa-user icon"></span>
					    	</div>
					  	</div>
					  	<!-- <div class="card-footer text-center text-white" @click="moreInfoPosts">
					  		<router-link to="/users" class="more-info">
					  			More info <span class="fas fa-arrow-circle-right"></span>
					  		</router-link>
					  	</div> -->
					</div>
		 		</div>
		 	</div>

		 	<!-- Charts -->
			<div class="row">
				<div class="col-md-6 col-lg-6 col-xl-6 col-12 mt-5">
					<div class="row px-3"> 
						<select class="custom-select col mb-2 mr-1" 
							v-model="selectedYearOfTraffic"
							@change="changeYearlyTraffic">
							<option v-for="year in years">{{ year }}</option>
						</select>
						<select class="custom-select col mb-2 ml-1" 
							v-model="selectedMonthOfTraffic"
							@change="changeMonthlyTraffic">
							<option v-for="month in months">{{ month }}</option>
						</select>
					</div>
					<line-chart 	
					 	class="chart p-3"
						:chartData="trafficLineChartData"
						:options="{responsive: true,
						  	maintainAspectRatio: false, 
						  	title: {
						        display: true,
						        text: 'Monthly Traffic Rate'
						      	}
						  	}"
						:width="600"
						:height="300">
					</line-chart>
				</div>

				<div class="col-md-6 col-lg-6 col-xl-6 col-12 mt-5">
					<div class="row px-3">
						<select class="custom-select col mb-2 mr-1" 
							v-model="selectedYearOfPostsUpdateRate"
							@change="changeYearlyPostsUpdateRate">
							<option v-for="year in years">{{ year }}</option>
						</select>
						<select class="custom-select col mb-2 ml-1" 
							v-model="selectedMonthOfPostsUpdateRate"
							@change="changeMonthlyPostsUpdateRate">
							<option v-for="month in months">{{ month }}</option>
						</select>
					</div>
					<bar-chart
						class="chart p-3"
						:chartData="postsUpdatebarChartData"
					  	:options="{responsive: true, 
					  		maintainAspectRatio: false,
					  		title: {
					            display: true,
					            text: 'Monthly Posts Update Rate'
					        }}"
					  	:width="600"
					  	:height="300">
					</bar-chart>
				</div>
			</div>

			<div class="row">
				<!-- To Do List -->
			 	<div class="col-md-6 col-lg-6 col-xl-6 col-12 mt-5">
			 		<todo-list></todo-list>
			 	</div>
			</div>
		</div>
	</div>
</template>

<script>	
    export default {
    	data(){
    		return {
    			posts: '',
    			pages: '',
    			users: '',
    			todayVisitors: '',
    			years: [],
    			months: [],
    			selectedYearOfTraffic: '',
    			selectedMonthOfTraffic: '',
    			selectedYearOfPostsUpdateRate: '',
    			selectedMonthOfPostsUpdateRate: '',
    			trafficData: [],
				postsUpdateRateData: [],
    		}
    	},
    	methods:{
    		changeYearlyTraffic: function(){
    			this.getTraffic()
    		},
    		changeMonthlyTraffic: function(){
    			this.getTraffic()
    		},
    		getTraffic: function(){
    			if(this.selectedMonthOfTraffic == 'Yearly'){
	    			axios.get(`/api/dashboard/yearly-traffic/${this.selectedYearOfTraffic}`).then(response => {
		            	this.trafficData = response.data
		        	})
		        	return
    			}
    			axios.get(`/api/dashboard/monthly-traffic/${this.selectedYearOfTraffic}/${this.selectedMonthOfTraffic}`).then(response => {
	            	this.trafficData = response.data
	        	})
    		},
    		changeYearlyPostsUpdateRate: function(){
    			this.getPostsUpdateRate()
    		},
    		changeMonthlyPostsUpdateRate: function(){
    			this.getPostsUpdateRate()
    		},
    		getPostsUpdateRate: function(){
    			if(this.selectedMonthOfPostsUpdateRate == 'Yearly'){
	    			axios.get(`/api/dashboard/yearly-posts-update-rate/${this.selectedYearOfPostsUpdateRate}`).then(response => {
		            	this.postsUpdateRateData = response.data
		        	})
		        	return
    			}
    			axios.get(`/api/dashboard/monthly-posts-update-rate/${this.selectedYearOfPostsUpdateRate}/${this.selectedMonthOfPostsUpdateRate}`).then(response => {
	            	this.postsUpdateRateData = response.data
	        	})
    		},
    		moreInfoPosts: function(){
    			this.isViewOverall = false
    		}
    	},
    	computed:{
    		trafficLineChartData: function(){
    			let labels = []
    			if(this.selectedMonthOfTraffic == 'Yearly')
    				labels = ['January', 'February', 'March', 'April', 'May', 'June', 
				  			'July', 'August', 'September', 'October', 'November', 'December']

				else if(this.selectedMonthOfTraffic == 'February'){
    				labels = ['',2,'',4,'',6,'',8,'',10,'',12,'',14,'',16,'',18,'',20,'',22,'',24,'',26,'',28]
				}

    			else if(this.selectedMonthOfTraffic == 'September' ||
    				this.selectedMonthOfTraffic == 'April' ||
    				this.selectedMonthOfTraffic == 'June' ||
    				this.selectedMonthOfTraffic == 'November')
    				labels = ['',2,'',4,'',6,'',8,'',10,'',12,'',14,'',16,'',18,'',20,'',22,'',24,'',26,'',28,'',30]
    			else
    				labels = ['',2,'',4,'',6,'',8,'',10,'',12,'',14,'',16,'',18,'',20,'',22,'',24,'',26,'',28,'',30,'']

    			return {
				  labels: labels,
				  datasets: [
				    {
				      label: 'Monthly Visitors',
				      backgroundColor: 'transparent',
				      borderColor: '#4a90d6',
				      data: this.trafficData
				    }
				  ]
				}
    		},
    		postsUpdatebarChartData: function(){
    			let labels = []
    			if(this.selectedMonthOfPostsUpdateRate == 'Yearly')
    				labels = ['January', 'February', 'March', 'April', 'May', 'June', 
				  			'July', 'August', 'September', 'October', 'November', 'December']

				else if(this.selectedMonthOfPostsUpdateRate == 'February'){
    				labels = ['',2,'',4,'',6,'',8,'',10,'',12,'',14,'',16,'',18,'',20,'',21,'',24,'',26,'',28]
				}

    			else if(this.selectedMonthOfPostsUpdateRate == 'September' ||
    				this.selectedMonthOfPostsUpdateRate == 'April' ||
    				this.selectedMonthOfPostsUpdateRate == 'June' ||
    				this.selectedMonthOfPostsUpdateRate == 'November')
    				labels = ['',2,'',4,'',6,'',8,'',10,'',12,'',14,'',16,'',18,'',20,'',21,'',24,'',26,'',28,'',30]
    			else
    				labels = ['',2,'',4,'',6,'',8,'',10,'',12,'',14,'',16,'',18,'',20,'',21,'',24,'',26,'',28,'',30,'']
    			return {
			      labels: labels,
			      datasets: [
			        {
			          label: 'Posts',
			          backgroundColor: '#f87979',
			          data: this.postsUpdateRateData
			        }
			      ]
			    }
    		}
    	},
    	created(){
	        axios.get('/api/dashboard/init').then(response => {
	            this.posts = response.data.posts
	            this.pages = response.data.pages
	            this.users = response.data.users
	            this.todayVisitors = response.data.todayVisitors
	            this.years = response.data.years
	            this.months = ['Yearly', 'January', 'February', 'March', 'April', 'May', 'June', 
				  			'July', 'August', 'September', 'October', 'November', 'December'],
	            this.selectedYearOfTraffic = this.years[0]
	            this.selectedMonthOfTraffic = this.months[0]
	            this.selectedYearOfPostsUpdateRate = this.years[0]
	            this.selectedMonthOfPostsUpdateRate = this.months[0]
	            this.trafficData = response.data.trafficData
	            this.postsUpdateRateData = response.data.postsUpdateRateData
	        })
		},
    }
</script>

<style scoped>
	.dashboard{
		width: 100%;
	}
	.card{
	    border: 0;
	    border-radius: 0;
	    /*box-shadow: 0 2px 12px 0 rgba(0,0,0,.1);*/
	    box-shadow: 5px 5px 25px 0 rgba(46,61,73,.2);
	    /*box-shadow: 0 5px 5px rgba(0,0,0,0.1);*/
	}
	.card-body:hover .icon{
		transform: scale(1.01, 1.01);
        transition: transform .5s;
	}
	.card-footer{
		padding: 0.3rem 1.25rem;
		cursor: pointer;
	}
	.card-footer:hover{
		background: rgba(0,0,0,0.1)
	}
	.more-info{
		text-decoration: none;
		color: white;
	}
	.icon{
		font-size: 90px;
		color: rgba(0,0,0,0.15);
		margin-top: 5px;
		transform: translate(-5px, -5px);
	}
	.bg-blue{
		background: #00c0ef;
	}
	.bg-green{
		background: #00a65a;
	}
	.bg-yellow{
		background: #f39c12;
	}
	.bg-red{
		background: #dd4b39;
	}
	.chart{
		background: white;
		border: 1px solid rgba(0,0,0,0.1) !important;
		border-top: 3px solid #3490dc !important;
		border-radius: 5px;
		/*box-shadow: 0 1px 1px rgba(0,0,0,0.1);*/
		box-shadow: 5px 5px 25px 0 rgba(46,61,73,.2);
	}
	.back:hover{
		cursor: pointer;
		color: #1a8cff;
	}
	@media screen and  (max-width: 576px) {
		.card-body > .body{
			width: 100% !important;
		}
		.icon-container{
			display: none;
		}
	}
</style>
