<template>

</template>

<script>
	import { mapState } from 'vuex'
    export default {
    	data(){
    		return{

    		}
    	},
    	methods:{

    	},
    	computed: {
		  	...mapState([
		  		'posts', 'isAdmin', 'user', 'roles'
		  	])
		},
		created(){
	        axios.get('/api/posts').then(response => {
	            this.$store.commit('assignPosts', response.data)
	        })
		},
    }
</script>

<style scoped>
	
</style>
