<!-- <template>
	<div>
		<canvas ref="canvas" width="900" height="400"></canvas>
	</div>
</template> -->

<!-- You have to remove the template part of your component.

You are extending the baseChart component, which comes with a template. If you keep the

<template>
	<div class="app">

	</div>
</template>
you overwrite everything from the base chart, as templates can not be merged properly. -->

<script>
	import { Line, mixins } from 'vue-chartjs'
	const { reactiveProp } = mixins
	export default {
		extends: Line,
		mixins: [reactiveProp],
	  	props: ['options'],
	  	mounted () {
	    	this.renderChart(this.chartData, this.options)
	  	}
	}
</script>
