<template>
	<div class="container-fluid">
		<div class="row">
			<div class="col-12">
				<h3 class="mt-3">Maibox</h3>
			</div>
			<!-- Mail Folders -->
			<div class="col-md-2 col-lg-2 col-xl-2 col-12 mt-3">
				<button class="btn btn-primary col-12" @click="composeMail">Compose</button>
				<!-- <v-btn small dark 
					class="col"
					color="blue"
					@click="composeMail">
					Compose
				</v-btn> -->
				<ul class="list-group mt-3" ref='mailFolders'>
				  	<li class="list-group-item list-group-item-action d-flex justify-content-between align-items-center list-group-item-active"
				  		data-mailstype="inbox"
				  		@click="changeActive">
				  		<span data-mailstype="inbox">
				  			<i class="fas fa-inbox ml-3 mr-2 mt-1" data-mailstype="inbox"></i>
				  			Inbox
				  		</span>
				  		<!-- <span class="badge badge-primary badge-pill">14</span> -->
				  	</li>
				  	<li class="list-group-item list-group-item-action d-flex justify-content-between align-items-center"
				  		data-mailstype="stared"
				  		@click="changeActive">
				  		<span data-mailstype="stared">
				  			<i class="fas fa-star ml-3 mr-2 mt-1" data-mailstype="stared"></i>
				  			Stars
				  		</span>
				  		<!-- <span class="badge badge-primary badge-pill" @click="changeActive">14</span> -->
				  	</li>
				  	<li class="list-group-item list-group-item-action d-flex justify-content-between align-items-center"
				  		data-mailstype="sent"
				  		@click="changeActive">
				  		<span data-mailstype="sent">
				  			<i class="fas fa-envelope ml-3 mr-2 mt-1" data-mailstype="sent"></i>
				  			Sent
				  		</span>
				  		<!-- <span class="badge badge-primary badge-pill">14</span> -->
				  	</li>
				  	<li class="list-group-item list-group-item-action d-flex justify-content-between align-items-center"
				  		data-mailstype="trashed"
				  		@click="changeActive">
				  		<span data-mailstype="trashed">
				  			<i class="fas fa-trash-alt ml-3 mr-2 mt-1" data-mailstype="trashed"></i>
				  			Trash
				  		</span>
				  		<!-- <span class="badge badge-primary badge-pill">14</span> -->
				  	</li>
				</ul>
			</div>

			<div class="col-md-10 col-lg-10 col-xl-10 col-12 mt-3">
				<!-- Mail Box -->
				<div v-show="isMailBoxShowed" class="mailbox card">
					<div class="card-header bg-white">
						<div class="row">
							<h4 class="ml-3 mt-1">{{ currentMailsType.replace(/\b\w/g, c => c.toUpperCase()) }}</h4>
			            	<input type="text" 
			            		class="form-control col-3 ml-auto mr-3" 
			            		placeholder="Search Mail" 
			            		v-model="searchKey">
						</div>
					</div>

					<div class="card-header bg-white">
						<div class="row">
							<input type="checkbox"
								class="mx-2 mt-2" 
								v-model="isCheckAll"
								@click="bulkSelect">
							
							<div class="bulk-actions">
								<a v-if="currentMailsType == 'trashed'" class="btn" 
									@click="bulkRestore">
									<span class="fas fa-undo text-primary"></span>
								</a>
								<a v-if="currentMailsType == 'trashed'" class="btn" 
									@click="bulkDelete">
									<span class="fas fa-trash-alt text-danger"></span>
								</a>
								<a v-else class="btn" 
									@click="bulkTrash">
									<span class="fas fa-trash-alt text-danger"></span>
								</a>
								<a class="btn"
									@click="snyc">
									<span class="fas fa-sync-alt text-primary"></span>
								</a>
							</div>
							<span v-if="currentPage==1 && currentPage==lastPage" class="ml-auto my-auto mr-3">
								{{ totalMails }} of {{ totalMails }}
							</span>
							<span v-else-if="currentPage==lastPage" class="ml-auto my-auto mr-3">
								{{ totalMails }} of {{ totalMails }}
							</span>
							<span v-else class="ml-auto my-auto mr-3">
								{{ mailsPerPage * currentPage }} of {{ totalMails }}
							</span>
							<div class="btn-group mr-3" role="group">
								<button class="btn border disabled" 
										id="previous"
										@click="paginate('previous')">
									<span class="fas fa-arrow-left"></span>
								</button>
								<button class="btn border" 
										id="next"
										@click="paginate('next')">
									<span class="fas fa-arrow-right"></span>
								</button>
							</div>
						</div>
					</div>	      	
					<div class="table-responsive mails-list-wrapper">
						<table class="table table-striped table-hover">
							<thead>
								<tr class="text-primary">
						      		<th scope="col"></th>
						      		<th scope="col"></th>
						      		<th scope="col">Name</th>
						      		<th scope="col">Phone</th>
						      		<th scope="col">Email</th>
						      		<th scope="col">Subject</th>
						      		<th scope="col">Date</th>
						    	</tr>
						  	</thead>
						  	<tbody ref="tbody">
						    	<tr v-for="(mail,key) in filteredMails">
						      		<td>
						      			<input type="checkbox" class="mt-1"
						      				:data-id="mail.id" 
						      				v-model="checkedMails[key]"
						      				@click="select">
						      		</td>
									<td v-show="!mail.deleted_at">
										<span v-if="mail.stared" 
											class="fas fa-star"
											:data-id="mail.id" 
											@click="toggleStar">
										</span>
										<span v-else 
											class="far fa-star"
											:data-id="mail.id" 
											@click="toggleStar">
										</span>
									</td>
									<td @click="showMailDetail" :data-id="mail.id">{{ mail.name }}</td>
									<td @click="showMailDetail" :data-id="mail.id">0{{ mail.phone }}</td>
									<td @click="showMailDetail" :data-id="mail.id">
										<a class="text-primary" :data-id="mail.id">{{ mail.email }}</a>
									</td>
						      		<td @click="showMailDetail" :data-id="mail.id"><b>{{ mail.subject }}</b></td>
						      		<td @click="showMailDetail" :data-id="mail.id">{{ new Date(mail.created_at).toLocaleString() }}</td>
						      		<td>
						      			<div v-if="mail.deleted_at == null" class="actions ml-auto">
							                <span class="far fa-trash-alt text-danger"
							                	:data-id="mail.id" 
							                	@click="trashMial">
							                </span>
							         	</div>
							         	<div v-else class="actions ml-auto">
							                <span class="fas fa-undo text-primary mr-3"
							                	:data-id="mail.id" 
							                	@click="restoreMial">
							                </span>
							                <span class="far fa-trash-alt text-danger"
							                	:data-id="mail.id" 
							                	@click="deleteMail">
							                </span>
							         	</div>
						      		</td>	
						    	</tr>
						  	</tbody>
						</table>
					</div>
				</div>

				<!-- Mail Detail -->
				<div v-show="isMailDetailShowed" class="mail-detail card">
					<div class="card-header bg-white">
						<a @click="backToInbox">
							<span class="fas fa-arrow-left"></span>
						</a>
						<span class="ml-3" style="font-size: 1.4rem;">Read Mail</span>
					</div>
					<div class="card-header bg-white">
						<div class="row">
							<div v-if="currentSelectedMail.sent" class="ml-3">
								<h4>{{ currentSelectedMail.subject }}</h4>
				            	<span  class="text-muted">
				            		To  - {{ currentSelectedMail.email }}
				            	</span><br>
				            	
							</div>
							<div v-else class="ml-3">
								<h4>{{ currentSelectedMail.subject }}</h4>
								<span class="text-muted">From  - {{ currentSelectedMail.email }}</span><br>
				            	<span class="text-muted">Phone - {{ currentSelectedMail.phone }}</span>
							</div>
							<span class="text-muted ml-auto mr-3 mt-4">
								{{ new Date(currentSelectedMail.created_at).toLocaleString() }}
							</span>
						</div>
					</div>
					<div class="card-body">
						<p class="card-text">
							{{ currentSelectedMail.message }}
						</p>	
					</div>
					<div class="card-footer bg-white">
						<a @click="replyMail">
							<span class="fas fa-reply"></span>
						</a>
					</div>
				</div>

				<!-- Compose Mail -->
				<div v-show="isComposeMailShowed" class="compose-mail card">
					<div class="card-header bg-white">
						<h4>{{ currentSelectedMail ? 'Reply' : 'Compose' }} Mail</h4>
					</div>
	  				<div class="card-body">
						<input type="text" 
							class="form-control my-2" 
							placeholder="To :" 
							v-model="composeMailAddress">
						<input type="text" 
							class="form-control my-2" 
							placeholder="Subject :"
							v-model="composeMailSubject">
						<textarea 
							class="form-control my-2" 
							style="height: 25rem !important;"
							v-model="composeMailMessage"></textarea>
					</div>
					<div class="card-footer bg-white">
						<div class="row">
							<button class="btn btn-danger ml-3" @click="discardMail"><span class="fas fa-times mr-1"></span>Discard</button>
							<!-- <button class="btn btn-secondary ml-auto" @click="draftMail"><span class="fas fa-edit mr-1"></span>Draft</button> -->
							<button v-if="currentSelectedMail" class="btn btn-primary mx-3" @click="sendMail"><span class="fas fa-reply mr-1"></span>Reply</button>

							<button v-else class="btn btn-primary mx-3" @click="sendMail"><span class="fas fa-envelope mr-1"></span>Send</button>
						</div>
					</div>
				</div>
			</div>
		</div>
		
	</div>
</template>

<script>
	import { mapState } from 'vuex'
    export default {
    	data(){
    		return {
    			isMailBoxShowed: true,
    			isMailDetailShowed: false,
    			isComposeMailShowed: false,
    			searchKey: '',
			    isCheckAll: false,
			    checkedMails:[],
			  	selectedMailsIds: [],
			    currentMailsType: 'inbox',
			    currentSelectedMail : '',
			    composeMailAddress: '',
			    composeMailSubject: '',
			    composeMailMessage: '',
			    currentPage: 1,
			    lastPage: '',
			    totalMails: '',
			    mailsPerPage: ''

    		}
    	},
    	methods:{
    		select: function(event){
    			let id = parseInt(event.target.dataset.id)
    			this.isCheckAll = false
    			if(this.selectedMailsIds.includes(id))
    				this.selectedMailsIds = this.selectedMailsIds.filter( m => m != id)
    			else
    				this.selectedMailsIds.push(id)
    		},
    		bulkSelect: function(event){
    			let self = this
    			self.isCheckAll = !self.isCheckAll
			    self.checkedMails = []
			    self.selectedMailsIds = []

			    if(self.isCheckAll){ // Check all
			      	self.filteredMails.forEach( (mail) => {
			        	self.checkedMails.push(true)
			        	self.selectedMailsIds.push(mail.id)
			       	})
			    }
    		},
    		bulkTrash: function(){
    			if(this.selectedMailsIds.length){
	    			axios.put(`/api/mails/bulk-trash`, {mails: this.selectedMailsIds}).then(response => {
	    				if(response.data == true)
		    			this.$store.commit('bulkDeleteMails', this.selectedMailsIds)
		    			this.isCheckAll = false
		    			this.checkedMails = []
		    			this.selectedMailsIds = []
					})
	    		}
    		},
    		bulkRestore: function(){
    			if(this.selectedMailsIds.length){
	    			axios.put(`/api/mails/bulk-restore`, {mails: this.selectedMailsIds}).then(response => {
	    				if(response.data == true)
		    			this.$store.commit('bulkDeleteMails', this.selectedMailsIds)
		    			this.isCheckAll = false
		    			this.checkedMails = []
		    			this.selectedMailsIds = []
					})
	    		}
    		},
    		bulkDelete: function(){
    			if(this.selectedMailsIds.length){
	    			axios.put(`/api/mails/bulk-delete`, {mails: this.selectedMailsIds}).then(response => {
	    				if(response.data == true)
		    			this.$store.commit('bulkDeleteMails', this.selectedMailsIds)
		    			this.isCheckAll = false
		    			this.checkedMails = []
		    			this.selectedMailsIds = []
					})
	    		}
    		},
    		snyc: function(){
    			/** Getting Mails
    			* /api/mails
    			* /api/mails/stared
    			* /api/mails/sent
    			* /api/mails/trashed
    			**/
    			$('.fa-sync-alt').addClass('fa-spin')
    			axios.get(`/api/mails/${this.currentMailsType}`).then(response => {
    				this.currentPage = response.data.current_page
		        	this.lastPage = response.data.last_page
		        	this.totalMails = response.data.total
	        		this.mailsPerPage = response.data.per_page
				    this.$store.commit('assignMails', response.data.data)
				    $('.fa-sync-alt').removeClass('fa-spin')
				    this.updatePreNextButtons()
				})
    		},
    		paginate: function(page){
    			if(page == 'previous' && this.currentPage !=1){
	    			$('.fa-sync-alt').addClass('fa-spin')
	    			axios.get(`/api/mails/${this.currentMailsType}?page=${--this.currentPage}`).then(response => {
	    				this.currentPage = response.data.current_page
			        	this.lastPage = response.data.last_page
			        	this.totalMails = response.data.total
	        			this.mailsPerPage = response.data.per_page
					    this.$store.commit('assignMails', response.data.data)
					    $('.fa-sync-alt').removeClass('fa-spin')
					    this.updatePreNextButtons()
					})
					return
	    		}
	    		if(page == 'next' && this.currentPage < this.lastPage){
	    			$('.fa-sync-alt').addClass('fa-spin')
	    			axios.get(`/api/mails/${this.currentMailsType}?page=${++this.currentPage}`).then(response => {
	    				this.currentPage = response.data.current_page
			        	this.lastPage = response.data.last_page
			        	this.totalMails = response.data.total
	        			this.mailsPerPage = response.data.per_page
					    this.$store.commit('assignMails', response.data.data)
					    $('.fa-sync-alt').removeClass('fa-spin')
					    this.updatePreNextButtons()
					})
					return
	    		}
    		},
    		updatePreNextButtons: function(){
    			if(this.currentPage == 1)
					$('#previous').addClass('disabled')

				if(this.currentPage > 1)
					$('#previous').removeClass('disabled')

				if(this.currentPage == this.lastPage)
					$('#next').addClass('disabled')

				if(this.currentPage < this.lastPage)
					$('#next').removeClass('disabled')
    		},
    		deleteMail: function(event){
    			let id = event.target.dataset.id
    			axios.delete(`/api/mails/${id}`).then(response => {
    				if(response.data == true)
	    			this.$store.commit('deleteMail', id)
				})
    		},
    		trashMial: function(event){
    			let id = event.target.dataset.id
    			axios.put(`/api/mails/trash/${id}`).then(response => {
    				if(response.data == true)
	    			this.$store.commit('deleteMail', id)
				})
    		},
    		restoreMial: function(event){
    			let id = event.target.dataset.id
    			axios.put(`/api/mails/restore/${id}`).then(response => {
    				if(response.data == true)
	    			this.$store.commit('deleteMail', id)
				})
    		},
    		toggleStar: function(event){
    			let id = event.target.dataset.id
    			axios.put(`api/mails/${id}`).then(response => {
	            	if(this.currentMailsType == 'stared' && response.data != 1)
	            		this.$store.commit('deleteMail', id)
	            	
	            	if(event.target.className == "far fa-star")
		    			event.target.className = "fas fa-star"
		    		else
		    			event.target.className = "far fa-star"
	        	})
    		},
    		showMailDetail: function(event){
    			this.currentSelectedMail = this.mails.find( m => m.id == event.target.dataset.id )
    			this.isMailBoxShowed = false
    			this.isMailDetailShowed = true
    		},
    		changeActive: function(event){
    			for(let i=0; i < this.$refs.mailFolders.children.length; i++){
	    			this.$refs.mailFolders.children[i].className="list-group-item list-group-item-action d-flex justify-content-between align-items-center"
	    		}
	    		if(event.target.className[0] == 'l'){
	    			event.target.className="list-group-item list-group-item-action d-flex justify-content-between align-items-center list-group-item-active"
	    		}
	    		else if(event.target.className[0] == 'f'){
	    			event.target.parentElement.parentElement.className="list-group-item list-group-item-action d-flex justify-content-between align-items-center list-group-item-active"
	    		}
	    		else{
	    			event.target.parentElement.className="list-group-item list-group-item-action d-flex justify-content-between align-items-center list-group-item-active"
	    		}
	    		this.currentMailsType = event.target.dataset.mailstype
	    		this.snyc()
	    		this.isComposeMailShowed = false
    			this.isMailBoxShowed = true  
    			this.isCheckAll = false
			    this.checkedMails = []
			    this.selectedMailsIds = [] 
    		},
    		composeMail: function(){
    			this.isMailBoxShowed = false 
    			this.isMailDetailShowed = false    	   	
    			this.isComposeMailShowed = true
    		},
    		discardMail: function(){
    			this.isComposeMailShowed = false
    			this.isMailBoxShowed = true    		
    		},
    		draftMail: function(){

    		},
    		sendMail: function(){
    			if(this.composeMailAddress)
	    			axios.post('/api/mails', {
	    				email: this.composeMailAddress,
	    				subject: this.composeMailSubject,
	    				message: this.composeMailMessage,
	    				sent: true
	    			}).then(response => {
	    				console.log(response.data)
		        	})
		        this.isComposeMailShowed = false
    			this.isMailBoxShowed = true 
    			this.composeMailAddress = '' 
    			this.composeMailSubject = ''
    			this.composeMailMessage = '' 
    		},
    		replyMail: function(){
    			this.composeMailAddress = this.currentSelectedMail.email
    			this.isMailBoxShowed = false
    			this.isMailDetailShowed = false
    			this.isComposeMailShowed = true
    		},
    		backToInbox: function(){
    			this.isMailBoxShowed=true 
    			this.isMailDetailShowed=false
    			this.currentSelectedMail = ''
    		}
    	},
    	computed: {
			filteredMails: function () {
			    let self = this
			    return self.mails.filter(function (mail) {
			      let searchRegex = new RegExp(self.searchKey, 'i')
				  return (searchRegex.test(mail.name) || searchRegex.test(mail.email) || 
				  			searchRegex.test(mail.phone) || searchRegex.test(mail.subject))
			    })
		  	},
		  	...mapState([
		  		'mails'
		  	])
		},
		created(){
	        axios.get('/api/mails').then(response => {
	        	this.currentPage = response.data.current_page
	        	this.lastPage = response.data.last_page
	        	this.totalMails = response.data.total
	        	this.mailsPerPage = response.data.per_page
	            this.$store.commit('assignMails', response.data.data)
	            this.updatePreNextButtons()
	        })
		},
    }
</script>

<style scoped>
	input[type="checkbox"] {
		width: 1.3em;
  		height: 1.3em;
  		cursor: pointer;
	}
	.fa-star{
		color: #f39c12;
	}
	td{
		white-space: nowrap;
	}
	.list-group{
		box-shadow: 5px 5px 25px 0 rgba(46,61,73,.2);
	}
	.list-group-item:hover, .action-button:hover{
		cursor: pointer;
	}
	.list-group-item-active{
		border-left: 3px solid #3490dc !important;
	}
	.card{
		border-top: 3px solid #3490dc !important;
		border-left: 0 !important;
		border-right: 0 !important;
		border-bottom: 0 !important;
		border-radius: 5px;
		box-shadow: 5px 5px 25px 0 rgba(46,61,73,.2);
	}
	.fa-reply:hover, .fa-arrow-left:hover{
		cursor: pointer;
		color: #3490dc;
	}
	.mails-list-wrapper{
		overflow-y: scroll; 
		height: 60vh;
	}
	.actions{
		visibility: hidden;
	}
	.actions:hover > span, tr{
		cursor: pointer;
	}
	.actions > span:hover, .bulk-actions > a:hover{
		transform: scale(1.2, 1.2);
        /*transition: transform .1s;*/
	}
	tr:hover> td > .actions{
		visibility: visible;
	}
</style>
