<template>
  <v-app>
    <v-navigation-drawer
      v-model="drawer" fixed app dark clipped width='200'>
      <side-bar></side-bar>
    </v-navigation-drawer>

    <v-toolbar color="blue" dark fixed app clipped-left dense>
      <v-toolbar-side-icon @click.stop="drawer = !drawer"></v-toolbar-side-icon>
      <v-toolbar-title>UCSH Admin Panel</v-toolbar-title>
    </v-toolbar>

    <v-content>
      <v-container fluid>
        <router-view></router-view>
      </v-container>
    </v-content>

    <v-footer  color="blue" app inset>
      <h5 class="text-white text-center ml-5">Developed by - Htet Myat Hlaing & Moe Htet Naing</h5>
    </v-footer>
  </v-app>
</template>

<script>
  import { mapState } from 'vuex'
  export default {
    data: () => ({
      drawer: null
    }),
    props: {
      source: String
    }
  }
</script>