<template>
	<div class="container-fluid">
		<h3>Media</h3>
		<div v-show="isMediaListsShowed">
			<!-- <button class="btn btn-success" @click="">Add New</button> -->
			<v-btn small dark 
				color="green"
				@click="addNewMedia">
				Add New
			</v-btn>
			<br /><br />
			<v-tabs
		        v-model="tab"
		        color="blue"
		        slider-color="black"
		        dark
		        grow>

	        	<v-tab>
	          		<v-icon>view_list</v-icon>
	        	</v-tab>
	        	<v-tab>
	        		<v-icon>view_comfy</v-icon>
	        	</v-tab>
	      	</v-tabs>
	      	<v-tabs-items v-model="tab">
	      		<v-tab-item>
					<table class="table border mt-3">
						<thead>
							<tr class="text-primary">
							    <th scope="col">
							    	<input type="checkbox" 
										v-model="isCheckAll"
										@click="bulkSelect">
							      	<a class="btn" 
							      		@click="sortBy('name')">
							      		Name
							      		<span class="fas fa-sort-up sorting-indicator"></span>
							      	</a>

									<a class="btn ml-3" 
										@click="bulkDelete">
										<span class="far fa-trash-alt text-danger bulk-action"></span>
									</a>
							    </th>
							      		
							    <th scope="col">
							      	<a class="btn column-name" @click="sortBy('uploaded_by')">
							      		Uploaded By
							      		<span class="fas fa-sort-down sorting-indicator"></span>
							      	</a>
							    </th>

							    <th scope="col">
							      	<a class="btn column-name" @click="sortBy('created_at')">
							      		Date
							      		<span class="fas fa-sort-down sorting-indicator"></span>
							      	</a>
							    </th>
							</tr>
						</thead>
						<tbody>
							<tr v-for="(media,key) in filteredMedias">
								<td :id="media.id" scope="col">
								    <div class="float-left mr-3 row">
								     	<input type="checkbox"
								     		class="ml-3 my-auto" 
								      		:data-id="media.id" 
									      	v-model="checkedMedias[key]"
									      	@click="select">
									    <a data-fancybox="list" :href="media.name" class="ml-3">
							                <img v-if="media.type[0]=='i'" :src="media.name" class="media-list-item" :alt="media.name">
							                <video v-else :src="media.name" class="media-list-item" :alt="media.name"></video>
					               		</a>
								    </div>
								    <div class="ml-3 mt-2">
								      	{{ media.name }} <br>
										<a class="text-danger action" 
								      		:data-id="media.id" @click="singleDelete">Delete</a>
									</div>
								</td>
								<td scope="col">
								    {{ media.uploaded_by }}
								</td>
								<td scope="col">{{ new Date(media.created_at).toLocaleString() }}</td>
							</tr>
						</tbody>
					</table>
	      		</v-tab-item>

		      	<v-tab-item>
			        <div class="row mt-3">
			            <div v-for="(media,key) in medias" class="col-4 col-sm-3 col-md-2 mb-4">
			                <a data-fancybox="gallery" :href="media.name" style="text-decoration: none;">
				                <img v-if="media.type[0]=='i'" :src="media.name" class="img-fluid media-grid-item" :alt="media.name">
				               	<video v-else :src="media.name" class="media-grid-item" :alt="media.name"></video>
				                <div class="text-center">
				                	<span>{{ media.name }}</span>
				                </div>
			                </a>
			           	</div>
			        </div>   
		      	</v-tab-item>
		      	<v-tab-item></v-tab-item>
	    	</v-tabs-items>
		</div>
		<div v-show="!isMediaListsShowed">
			<div class="form-group row">
				<label for="inputFile" class="col-sm-2 col-form-label text-right">Choose File</label>
				<div class="col-sm-3">
					<input type="file" 
						class="form-control-file mb-3" 
						id="inputFile"
						accept="image/*,video/*"
						ref="file"
						@change="processFile">
					<span class="invalid-feedback" role="alert">
	                    <strong>{{ error }}</strong>
	                </span> 
	        		<span v-show="uploading" class="uploading-text"></span>
				</div>
				<v-btn small dark 
					color="blue"
					@click="upload">
					Upload
				</v-btn>
				<v-btn small dark 
					color="red"
					@click="cancle">
					 Cancle
				</v-btn>
			</div>
		</div>

		<!-- Single Delete -->
		<v-dialog
	      v-model="deleteDialog"
	      max-width="500">
	    	<v-card>
        		<v-card-title class="headline red text-white">Are you sure to Delete?</v-card-title>
        			<v-card-text>
        				{{ selectedMedia.name  }}
        				<v-divider></v-divider>
        				<span v-show="deleting" class="deleting-text text-danger"></span>
        			</v-card-text>
        		<v-card-actions>
          			<v-spacer></v-spacer>
		          	<v-btn
			            color="red darken-1"
			            flat="flat"
			            @click="deleteMedia">
			            Delete
		          	</v-btn>

		          	<v-btn
			            color="blue darken-1"
			            flat="flat"
			            @click="deleteDialog=false">
			            Cancel
		          	</v-btn>
        		</v-card-actions>
      		</v-card>
	  	</v-dialog>

	  	<!-- Bulk Delete -->
		<v-dialog
	      v-model="bulkDeleteDialog"
	      max-width="500">
	    	<v-card>
        		<v-card-title class="headline red text-white">Are you sure to delete selected files?</v-card-title>
        			<v-card-text>
        				{{ selectedMediasIds.length  }}&nbsp;Items
        				<v-divider></v-divider>
        				<span v-show="deleting" class="deleting-text text-danger"></span>
        			</v-card-text>
        			<v-card-actions>
          			<v-spacer></v-spacer>
			         <v-btn
			            color="red darken-1"
			            flat="flat"
			            @click="bulkDeleteMedias">
			            	Delete
			         </v-btn>

		          	<v-btn
			            color="blue darken-1"
			            flat="flat"
			            @click="bulkDeleteDialog = false">
			            Cancel
		          	</v-btn>
        		</v-card-actions>
      		</v-card>
	  	</v-dialog>
	</div>
</template>

<script>
	import { mapState } from 'vuex'
    export default {
    	data(){
    		return{
    			tab: null,
    			error: '',
    			file: '',
    			sortKey: 'date',
    			sortReverse: false,
    			deleteDialog: false,
    			bulkDeleteDialog: false,
    			uploading: false,
    			deleting: false,
    			isCheckAll: false,
    			isMediaListsShowed: true,
			    checkedMedias:[],
			    selectedMedia: {name:''},
			  	selectedMediasIds: [],
    		}
    	},
    	methods:{
    		select: function(event){
    			let id = parseInt(event.target.dataset.id)
    			this.isCheckAll = false
    			if(this.selectedMediasIds.includes(id))
    				this.selectedMediasIds = this.selectedMediasIds.filter( m => m != id)
    			else
    				this.selectedMediasIds.push(id)
    		},
    		bulkSelect: function(event){
    			let self = this
    			self.isCheckAll = !self.isCheckAll
			    self.checkedMedias = []
			    self.selectedMediasIds = []

			    if(self.isCheckAll){ // Check all
			      	self.medias.forEach( (mail) => {
			        	self.checkedMedias.push(true)
			        	self.selectedMediasIds.push(mail.id)
			       	})
			    }
    		},
    		addNewMedia: function(){
    			this.isMediaListsShowed = false
    		},
    		processFile: function(){
        		if(this.$refs.file.files[0].size > 104857600){
        			this.error = 'File size cannot be more than 100Mb!'
        			$('#inputFile').addClass('is-invalid')
        			return
        		}

        		$('#inputFile').removeClass('is-invalid')

	 	 		this.file = this.$refs.file.files[0]
    		},
    		upload: function(){
    			if(!this.$refs.file.files[0]){
    				this.error = 'File must be choose!'
        			$('#inputFile').addClass('is-invalid')
        			return
        		}
        		if(this.$refs.file.files[0].size > 104857600){
        			this.error = 'File size cannot be more than 100Mb!'
        			$('#inputFile').addClass('is-invalid')
        			return
        		}
        			
        		$('#inputFile').removeClass('is-invalid')

        		this.uploading = true
        		let formData = new FormData()
        		formData.append('media', this.file)
        		axios.post('/api/medias', 
        			formData,
        			{
    					headers: {
        					'Content-Type': 'multipart/form-data'
        				}
    				}).then(response => { 
    					console.log(response.data)
    					if(response.data == 'false'){
    						this.error = 'File size cannot be more than 100Mb!'
    						$('#inputFile').addClass('is-invalid')
    						return
    					}
    					this.$store.commit('addNewMedia', response.data)
        				this.uploading = false
        				this.choosing = false
        				this.file = ''
        				this.$refs.file.value = ''
	            }) 
    			this.isMediaListsShowed = true
    		},
    		cancle: function(){
    			this.isMediaListsShowed = true
    			this.$refs.file.value = ''
    			$('#inputFile').removeClass('is-invalid')
    		},
    		singleDelete: function(event){
    			this.deleteDialog = true
    			this.selectedMedia = this.medias.find( m => m.id == event.target.dataset.id )
    		},
    		deleteMedia: function(event){
    			this.deleting = true
    			axios.delete(`/api/medias/${this.selectedMedia.id}`).then(response => {
    				if(response.data == true)
	    			this.$store.commit('deleteMedia', this.selectedMedia.id)
	    			this.deleting = false
	    			this.deleteDialog = false
				})
    		},
    		bulkDelete: function(){
    			if(this.selectedMediasIds.length)
    				this.bulkDeleteDialog = true
    		},
    		bulkDeleteMedias: function(){
    			this.deleting = true
    			if(this.selectedMediasIds.length){
	    			axios.put(`/api/medias/bulk-delete`, {medias: this.selectedMediasIds}).then(response => {
	    				if(response.data == true)
		    			this.$store.commit('bulkDeleteMedias', this.selectedMediasIds)
		    			this.isCheckAll = false
		    			this.checkedMedias = []
		    			this.selectedMediasIds = []
	    				this.deleting = false
		    			this.bulkDeleteDialog = false
					})
	    		}
    		},
    		sortBy: function(sortKey){
    			this.sortReverse = (this.sortKey == sortKey) ? !this.sortReverse : false
    			if(window.event.target.className[0] == 'f'){
    				if(this.sortReverse)
    					window.event.target.className = 'fas fa-sort-down'
    				else
    					window.event.target.className = 'fas fa-sort-up'
    			}
    			else{
    				if(this.sortReverse)
	    				window.event.target.firstElementChild.className = 'fas fa-sort-down'
	    			else
	    				window.event.target.firstElementChild.className = 'fas fa-sort-up'
    			}
      			this.sortKey = sortKey
    		}
    	},
    	computed: {
    		filteredMedias: function () {
			    return  _.orderBy(this.medias, this.sortKey, this.sortReverse ? 'desc' : 'asc')
		  	},
		  	...mapState([
		  		'medias'
		  	])
		},
		created(){
	        axios.get('/api/medias').then(response => {
	            this.$store.commit('assignMedias', response.data)
	        })
		},
    }
</script>

<style scoped>
    .gallery:hover > a > img {
    	transform: translate(1px, 1px);
    	border-radius: 5px;
		box-shadow: 5px 5px 25px 0 rgba(46,61,73,.2);
		transition: 0.2s;
    }
    .media-list-item{
    	height: 65px !important;
    	width: 65px !important;
    }
    .media-grid-item{
    	height: 150px !important;
    	width: 100% !important;
    }
    input[type="checkbox"] {
		width: 1.3em;
  		height: 1.3em;
  		transform: translateY(5px);
  		cursor: pointer;
	}
    .bulk-action:hover{
    	transform: scale(1.2, 1.2);
    }
    .action{
		visibility: hidden;
	}
    tr:hover > td > div .action{
		visibility: visible;
	}

	.uploading-text:after {
	    content: "Uploading";
	    font-weight: bold;
	    font-style: italic;
	    color: #28a745;
	    animation-name: uploading-text;
	    animation-duration: 1s;
	    animation-iteration-count: infinite;
	}

	 @keyframes uploading-text {
	    0% {
	      content: "Uploading";
	    }
	    10% {
	      content: "Uploading -";
	    }
	    20% {
	      content: "Uploading - -";
	    }
	    30% {
	      content: "Uploading - - - ";
	    }
	    40% {
	      content: "Uploading - - - -";
	    }
	    50% {
	      content: "Uploading - - - - -";
	    }
	    60% {
	      content: "Uploading - - - - - -";
	    }
	    70% {
	      content: "Uploading - - - - - - -";
	    }
	    80% {
	      content: "Uploading - - - - - - - -";
	    }
	    90% {
	      content: "Uploading - - - - - - - - -";
	    }
	    100% {
	      content: "Uploading - - - - - - - - - -";
	    }
	}

	.deleting-text:after {
	    content: "Deleting";
	    font-weight: bold;
	    font-style: italic;
	    animation-name: deleting-text;
	    animation-duration: 1s;
	    animation-iteration-count: infinite;
	}

	 @keyframes deleting-text {
	    0% {
	      content: "Deleting";
	    }
	    10% {
	      content: "Deleting -";
	    }
	    20% {
	      content: "Deleting - -";
	    }
	    30% {
	      content: "Deleting - - - ";
	    }
	    40% {
	      content: "Deleting - - - -";
	    }
	    50% {
	      content: "Deleting - - - - -";
	    }
	    60% {
	      content: "Deleting - - - - - -";
	    }
	    70% {
	      content: "Deleting - - - - - - -";
	    }
	    80% {
	      content: "Deleting - - - - - - - -";
	    }
	    90% {
	      content: "Deleting - - - - - - - - -";
	    }
	    100% {
	      content: "Deleting - - - - - - - - - -";
	    }
	}
</style>
