<template>
	 <div class="navbar navbar-dark bg-primary">
	 	<!-- Use any element to open the sidenav -->
		<span @click="openNav" class="ml-1 toggle-nav"><i class="fas fa-align-justify"></i></span>
	 	<a href="/admin" class="navbar-brand ml-3">UCSH Admin Panel</a>

		<div class="nav-item dropdown ml-auto mr-3">
            <a id="navbarDropdown" class="nav-link dropdown-toggle text-white" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
               {{ user.name }}
            </a>

            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                <a class="dropdown-item">{{ user.email }}</a>
                <a class="dropdown-item" href="/logout"
                    onclick="event.preventDefault();
                            document.getElementById('logout-form').submit();">
                    Logout
                </a>
            </div>
        </div>
	 </div>
</template>

<script>
	import { mapState } from 'vuex'
    export default {
    	methods:{
    		openNav:function(){
    			document.getElementById("mySidenav").style.width = "200px";
    		}
    	},
        computed:{
            ...mapState([
                'user'
            ])
        }
    }
</script>

<style scoped>
	@media screen and  (min-width: 576px) {
		.toggle-nav{
			display: none;
		}
	}
</style>
