<template>
	<div class="container-fluid">
		<div class="row">
			<!-- Control -->
			<div v-show="isPagesListShowed" class="col-12">
				<h3>Pages</h3>
				<br />
			</div>

			<!-- List Pages -->
			<div v-show="isPagesListShowed" class="col-12 mt-1">
				<div class="table-responsive bg-white pages-list-wrapper pages-list-header">
					<table class="table border">
						<thead>
							<tr class="text-primary">
					      		<th scope="col">
					      			<a class="btn column-name" @click="sortBy('department')">
					      				Department
					      				<span class="fas fa-sort-up sorting-indicator"></span>
					      			</a>
					      		</th>
					      		<th scope="col">
					      			<a class="btn column-name" @click="sortBy('created_at')">
					      				Date
					      				<span class="fas fa-sort-down sorting-indicator"></span>
					      			</a>
					      		</th>
					    	</tr>
					  	</thead>
					  	<tbody ref="tbody">
					    	<tr v-for="page in filteredPages">
							   <td :id="page.id">
					      			{{ page.name }}
					      			<div v-if="page.slug=='contact-us' || page.slug=='about-us'" class="page-actions">
										<a class="text-primary" @click="editPage">Edit &nbsp;</a><span>|</span>
										<a class="text-primary" 
											:href="`${page.slug}`" 
											blank>
											&nbsp;View
										</a>
									</div>
									<div v-else-if="page.slug=='master-degree' || page.slug=='bachelor-degree'" class="page-actions">
										<a class="text-primary" @click="editPage">Edit &nbsp;</a><span>|</span>
										<a class="text-primary" 
											:href="`/degrees/${page.slug}`" 
											blank>
											&nbsp;View
										</a>
									</div>
									<div v-else class="page-actions">
										<a class="text-primary" @click="editPage">Edit &nbsp;</a><span>|</span>
										<a class="text-primary" 
											:href="`/departments/${page.slug}`" 
											blank>
											&nbsp;View
										</a>
									</div>
								</td>
							   <td>{{ new Date(page.created_at).toLocaleString() }}</td>
							</tr>
					  	</tbody>
					</table>
				</div>
			</div>

			<!-- Edit Page -->
			<div v-show="!isPagesListShowed" class="col row">
				<!-- Title -->
				<div class="col-12 mt-3">
					<h3 class="float-left">Edit Page - {{ currentEditingPage.name }}</h3>
					<div class="float-right">
						<button class="btn btn-danger mr-3" 
							@click="discardPage">
							<span class="fas fa-times mr-1"></span>Discard
						</button>
						<button class="btn btn-primary mr-3" 
							@click="savePage">
							<span class="fas fa-upload mr-1"></span>Save
						</button>
					</div>
				</div>

				<!-- Page  -->
				<div class="col-12 mt-3 ml-3 wrapper">
					<!-- slug -->
					<div class="form-group mt-3">
    					<label for="url">URL for feature image</label>		
						<input type="text"
							id="url" 
							class="form-control mb-3" 
							placeholder="Enter URL for feature image" 
							v-model="pagefeatureImage">
					</div>

					<!-- head photos -->
					<div class="col-12 row">
						<span class="mb-2" style="width: 100%;">Teacher Photos</span>
						<draggable v-model="teacherPhotos">
					    	<transition-group>
					    		<div v-for="(photo,key) in teacherPhotos" :key="key" class="teacher-photo float-left m-1">
									<img  :src="photo.photoUrl" alt="">
									<div class="photo-actions-overlay container">
										<div class="photo-actions row mt-3">
											<span class="fas fa-trash-alt text-danger mx-auto"
													:id="key"
													@click="toDeletePhoto">
											</span>
											<span class="fas fa-edit text-primary mx-auto"
													:id="key"
													@click="toEditPhoto">
											</span>
										</div>
									</div>
								</div>
					    	</transition-group>
					  	</draggable>
						
						<a class="btn my-auto ml-3 add-photo" @click="toAddPhoto">
							<span class="fas fa-2x fa-plus text-success"></span>
						</a>
						<!-- Delete Photo Dialog -->
						<v-dialog
							class="ml-auto"
							v-model="deletePhotoDialog"
							persistent
							width="300"
							style="z-index:5005;">
						      <v-card>
								<v-card-title
									class="headline red text-white"
									primary-title>
									Are you sure to delete?
								</v-card-title>
								<v-card-text>
									{{ currentSelectedPhotoIndex? teacherPhotos[currentSelectedPhotoIndex].name : '' }}
								</v-card-text>
								<v-divider></v-divider>
								<v-card-actions>
									<v-spacer></v-spacer>
									<v-btn
										color="blue"
										flat
										@click="deletePhotoDialog = false">
										Cancel
									</v-btn>
									<v-btn
										color="red"
										flat
										@click="deletePhoto">
										Delete
									</v-btn>
								</v-card-actions>
						    </v-card>
					    </v-dialog>

					    <!-- Edit/Add Photo Dialog -->
						<v-dialog
							class="ml-auto"
							v-model="editAddPhotoDialog"
							persistent
							width="500"
							style="z-index:1000;">
						      <v-card>
								<v-card-title
									class="headline blue text-white"
									primary-title>
									{{ currentSelectedPhotoIndex ? 'Edit ' : 'Add '}}Photo
								</v-card-title>
								<v-card-text>
									<div class="form-group mt-3">
    									<label for="name">Name</label>
										<input type="text" 
					        		 	id="name"
					        			class="form-control" 
					        			placeholder="Enter name"
					        			v-model="teacherName"
					        			required >
					        			<span class="invalid-feedback" role="alert">
                               				<strong>Name must be filled</strong>
                            			</span>
									</div>
									<div class="form-group mt-3">
    									<label for="position">Position</label>
										<input type="text" 
					        		 	id="position"
					        			class="form-control" 
					        			placeholder="Enter Position"
					        			v-model="teacherPosition"
					        			required >
					        			<span class="invalid-feedback" role="alert">
                               				<strong>Position must be filled</strong>
                            			</span>
									</div>
									<div class="form-group mt-3">
    									<label for="degree">Academic Degree</label>
										<input type="text" 
					        		 	id="degree"
					        			class="form-control" 
					        			placeholder="Enter Academic Degree"
					        			v-model="teacherAcademicDegree"
					        			required >
					        			<span class="invalid-feedback" role="alert">
                               				<strong>Degree must be filled</strong>
                            			</span>
									</div>
									<div class="form-group mt-3">
				    					<label for="teacher-image-url">URL for Photo</label>		
										<input type="text"
											id="teacher-image-url" 
											class="form-control mb-3" 
											placeholder="Enter URL for photo" 
											v-model="teacherPhotoUrl"										required>
											<span class="invalid-feedback" role="alert">
                               					<strong>Phto URL must be filled</strong>
                            				</span>
									</div>
								</v-card-text>
								<v-divider></v-divider>
								<v-card-actions>
									<v-spacer></v-spacer>
									<v-btn
										color="red"
										flat
										@click="cancelEditAdd">
										Cancel
									</v-btn>
									<v-btn
										color="blue"
										flat
										@click="editAddPhoto">
										{{ currentSelectedPhotoIndex ? 'Save ' : 'Add '}}
									</v-btn>
								</v-card-actions>
						    </v-card>
					    </v-dialog>
					</div>
					<div class="clearfix"></div>

					<!-- content -->
					<div class="form-group mt-3">
    					<label for="content">Content</label>		
						<textarea id="content" ref="editor" v-model="editor"></textarea>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
	require('summernote/dist/summernote-bs4')
	import draggable from 'vuedraggable'
	import { mapState } from 'vuex'
    export default {
    	// name: "Simple",
  		components: {draggable},
    	data(){
    		return{
    			isPagesListShowed: true,
    			sortKey: 'date',
    			sortReverse: false,
    			currentEditingPage: '',
    			pagefeatureImage: '',
    			editor: '',
    			teacherPhotos: [],
    			currentSelectedPhotoIndex : '',
    			deletePhotoDialog: null,
    			editAddPhotoDialog: null,
    			addPhotoDialog: null,
    			editingPhoto: false,
    			teacherName: '',
    			teacherPosition: '',
    			teacherAcademicDegree: '',
    			teacherPhotoUrl: ''
    		}
    	},
    	methods:{
    		editPage: function(event){
    			let id = event.target.parentElement.parentElement.id
    			axios.get(`/api/pages/${id}`).then(response => {
    				this.currentEditingPage = response.data
	    			this.isPagesListShowed = false
	    			this.pagefeatureImage = this.currentEditingPage.feature_image
	    			this.teacherPhotos = JSON.parse(this.currentEditingPage.teacher_photos)
	    			this.editor = this.currentEditingPage.content
	    			$(this.$refs.editor).summernote("code", this.editor)
    			})
    		},
    		discardPage: function(){
    			this.isPagesListShowed = true
    		},
    		savePage: function(){
    			if(this.currentEditingPage != this.currentEditingPage.feature_image || this.editor != this.currentEditingPage.content ){
	    			
	    			this.currentEditingPage.feature_image = this.pagefeatureImage
	    			this.currentEditingPage.teacher_photos = this.teacherPhotos
	    			this.currentEditingPage.content = this.editor

	    			axios.put(`/api/pages/${this.currentEditingPage.id}`, this.currentEditingPage).then(
	    				response => {
	    				if(response.data == true)
	    					this.$store.commit('editPage', this.currentEditingPage)
				    })
	    		}
	    		this.currentEditingPage = ''
	    		this.editor = ''
    			this.isPagesListShowed = true

    		},
    		toDeletePhoto: function(event){
    			this.deletePhotoDialog = true
    			this.currentSelectedPhotoIndex = event.target.id
    		},
    		deletePhoto: function(){
    			this.teacherPhotos.splice(parseInt(this.currentSelectedPhotoIndex),1)
    			this.currentSelectedPhotoIndex = null // set to null not to fire error in dialog
    			this.deletePhotoDialog = false
    		},
    		toEditPhoto: function(event){
    			this.editAddPhotoDialog = true
    			this.currentSelectedPhotoIndex = event.target.id
    			this.teacherName = this.teacherPhotos[this.currentSelectedPhotoIndex ].name
    			this.teacherPosition = this.teacherPhotos[this.currentSelectedPhotoIndex ].position
    			this.teacherAcademicDegree = this.teacherPhotos[this.currentSelectedPhotoIndex ].academicDegree
    			this.teacherPhotoUrl = this.teacherPhotos[this.currentSelectedPhotoIndex ].photoUrl
    		},
    		toAddPhoto: function(event){
    			this.currentSelectedPhotoIndex = ''
    			this.editAddPhotoDialog = true
    		},
    		editAddPhoto: function(){
    			if(!this.teacherName)
    				$('#name').addClass('is-invalid')
    			else{
    				$('#name').removeClass('is-invalid')
    				$('#name').addClass('is-valid')
    			}

    			if(!this.teacherPosition){
    				$('#position').addClass('is-invalid')
    			}
    			else{
    				$('#position').removeClass('is-invalid')
    				$('#position').addClass('is-valid')
    			}

    			if(!this.teacherAcademicDegree){
    				$('#degree').addClass('is-invalid')
    			}
    			else{
    				$('#degree').removeClass('is-invalid')
    				$('#degree').addClass('is-valid')
    			}

    			if(!this.teacherPhotoUrl)
    				$('#teacher-image-url').addClass('is-invalid')
    			else{
    				$('#teacher-image-url').removeClass('is-invalid')
    				$('#teacher-image-url').addClass('is-valid')
    			}

    			if(!this.teacherName || !this.teacherPosition || !this.teacherPhotoUrl)
    				return

    			let photo = {
		    		name: this.teacherName,
		    		position: this.teacherPosition,
		    		academicDegree: this.teacherAcademicDegree,
		    		photoUrl: this.teacherPhotoUrl
		    	}

    			if(this.currentSelectedPhotoIndex)
    				this.teacherPhotos[this.currentSelectedPhotoIndex] = photo
    			else
	    			this.teacherPhotos.push(photo)

		    	this.editAddPhotoDialog = false
		    	this.currentSelectedPhotoIndex = ''
    			this.teacherName = ''
		    	this.teacherPosition = ''
		    	this.teacherAcademicDegree = ''
		    	this.teacherPhotoUrl = ''
		    	$('#name, #position, #degree, #teacher-image-url').removeClass('is-invalid')
		    	$('#name, #position, #degree, #teacher-image-url').removeClass('is-valid')
    		},
    		cancelEditAdd: function(){
    			this.editAddPhotoDialog = false
    			$('#name, #position, #degree, #teacher-image-url').removeClass('is-invalid')
		    	$('#name, #position, #degree, #teacher-image-url').removeClass('is-valid')
    		},
    		sortBy: function(sortKey){
    			this.sortReverse = (this.sortKey == sortKey) ? !this.sortReverse : false
    			if(window.event.target.className[0] == 'f'){
    				if(this.sortReverse)
    					window.event.target.className = 'fas fa-sort-down'
    				else
    					window.event.target.className = 'fas fa-sort-up'
    			}
    			else{
    				if(this.sortReverse)
	    				window.event.target.firstElementChild.className = 'fas fa-sort-down'
	    			else
	    				window.event.target.firstElementChild.className = 'fas fa-sort-up'
    			}
      			this.sortKey = sortKey
    		}
    	},
    	computed: {
    		filteredPages: function () {
			    return  _.orderBy(this.pages, this.sortKey, this.sortReverse ? 'desc' : 'asc')
		  	},
		  	...mapState([
		  		'pages', 'isAdmin', 'user'
		  	])
		},
		created(){
	        axios.get('/api/pages').then(response => {
	            this.$store.commit('assignPages', response.data)
	        })
		},
		mounted(){
			let summernoteConfig = {
                height: 400
            };
            let vm = this;
            summernoteConfig.callbacks = {
                onInit: function () {
                    $(vm.$refs.editor).summernote("code", vm.editor);
                },
                onChange: function () {
                    // vm.$emit('update:model', $(vm.$refs.editor).summernote('code'));
                    vm.editor = $(vm.$refs.editor).summernote('code')
                },
            };
			$(this.$refs.editor).summernote(summernoteConfig);

			if(!this.isAdmin)
				this.pageDepartment = this.user.role.name
	    },
    }
</script>

<style scoped>
	.page-actions{
		visibility: hidden;
	}
	.page-actions > a{
		cursor: pointer;
		text-decoration: none;
	}

	tr:hover > td > .page-actions{
		visibility: visible;
	}

	.pages-list-wrapper{
		overflow-y: scroll; 
		height: 75vh;
	}
	.pages-list-header, .wrapper{
		border-top: 3px solid #3490dc !important;
		border-radius: 5px;
	}
	.wrapper{
		/*overflow-y: scroll;*/
		background: white;
		/*height: 75vh;*/
	}
	.teacher-photo{
		position: relative;
	}
	.teacher-photo > img{
		height: 100px;
		width: 100px;
	}
	.photo-actions-overlay{
		position: absolute;
		top: 0;
		height: 100%;
		width: 100%;
		background: transparent;
	}
	.photo-actions{
		height: 100% !important;
		visibility: hidden;
	}
	.photo-actions-overlay:hover{
		background: rgb(255,255,255,0.8);
		cursor: pointer;
	}
	.photo-actions-overlay:hover > .photo-actions{
		visibility: visible;
	}
	.photo-actions > span:hover, .add-photo:hover{
		cursor: pointer;
		transform: scale(1.2, 1.2);
	}

</style>
