<template>
	<div class="container-fluid">
		<div class="row">
			<!-- Control -->
			<div v-show="isPostsListShowed" class="col-12">
				<h3>Posts</h3>
				<button class="btn btn-success" @click="addNewPost">Add New</button>
				<br /><br />

				<div class="post-type ml-1" ref="postTypes">
					<a class="active" data-type="all" @click="changeCurrentPostsType">
						All ({{ allPosts.all.length }})&nbsp;<span class="text-dark">|</span>
					</a>
					<a class="text-primary" data-type="published" @click="changeCurrentPostsType">
						&nbsp;&nbsp;Published ({{ allPosts.published.length }})&nbsp;<span class="text-dark">|</span>
					</a>
					<a class="text-primary" data-type="draft" @click="changeCurrentPostsType">
						&nbsp;&nbsp;Draft ({{ allPosts.draft.length }})&nbsp;<span class="text-dark">|</span>
					</a>
					<a class="text-primary" data-type="trash" @click="changeCurrentPostsType">
						&nbsp;Trash ({{ allPosts.trash.length }})
					</a>
				</div>

				<div class="row months-of-year mt-1">
					<select class="custom-select col-2 mb-2 ml-3" 
						v-model="selectedYear"
						@change="changeYear">
						<option v-for="year in years">{{ year }}</option>
					</select>
					<select class="custom-select col-2 mb-2 ml-1" 
						v-model="selectedMonth"
						@change="changeMonth">
						<option v-for="month in months">{{ month }}</option>
					</select>
			        <input type="text" 
			        	class="form-control col-3 ml-auto mr-3" 
			        	placeholder="Search Post" 
			        	v-model="searchKey">
				</div>
			</div>

			<!-- List Post -->
			<div v-show="isPostsListShowed" class="col-12 mt-1">
				<div class="table-responsive bg-white posts-list-header posts-list-wrapper">
					<table class="table border">
						<thead>
							<tr class="text-primary">
					      		<th scope="col">
					      			<input type="checkbox" 
					      				v-model="isCheckAll"
					      				@click="bulkSelect">
					      			<a class="btn column-name" 
					      				@click="sortBy('title')">
					      				Title
					      				<span class="fas fa-sort-up sorting-indicator"></span>
					      			</a>

									<a class="btn ml-3 bulk-action" 
										@click="selectedPostsIds.length ? bulkDeleteDialog = true : ''">
										<span class="far fa-trash-alt text-danger"></span>
									</a>

									<a v-if="currentPostsType=='trash'" class="btn ml-3 bulk-action" 
										@click="selectedPostsIds.length ? bulkRestoreDialog = true : ''">
										<span class="fas fa-undo text-primary"></span>
									</a>
					      		</th>
					      		<th scope="col">
					      			<a class="btn column-name" @click="sortBy('category')">
					      				Category
					      				<span class="fas fa-sort-up sorting-indicator"></span>
					      			</a>
					      		</th>
					      		<th scope="col">
					      			<a class="btn column-name" @click="sortBy('department')">
					      				Department
					      				<span class="fas fa-sort-up sorting-indicator"></span>
					      			</a>
					      		</th>
					      		<th scope="col">
					      			<a class="btn column-name">
					      				Type
					      			</a>
					      		</th>
					      		<th scope="col">
					      			<a class="btn column-name" @click="sortBy('slug')">
					      				Slug
					      				<span class="fas fa-sort-up sorting-indicator"></span>
					      			</a>
					      		</th>
					      		<th scope="col">
					      			<a class="btn column-name" @click="sortBy('created_at')">
					      				Date
					      				<span class="fas fa-sort-down sorting-indicator"></span>
					      			</a>
					      		</th>
					    	</tr>
					  	</thead>
					  	<tbody ref="tbody">
					    	<tr v-for="(post,key) in filteredPosts">
							   <td :id="post.id">
					      			<input type="checkbox" 
					      				:data-id="post.id" 
					      				v-model="checkedPosts[key]"
					      				@click="select">
					      			{{ post.title }}
									<div v-if="post.type=='trash'" class="post-actions">
										<a class="text-primary" @click="restorePost">Restore &nbsp;</a><span>|</span>
										<a class="text-danger" @click="deletePost">&nbsp;Delete Permanently</a>
									</div>
					      			<div v-else class="post-actions">
										<a class="text-primary" @click="editPost">Edit &nbsp;</a><span>|</span>
										<a class="text-danger" @click="trashPost">&nbsp;Trash&nbsp;</a><span>|</span>
										<a class="text-primary" :href="`${post.category}/${post.slug}`" blank>&nbsp;View</a>
									</div>
								</td>
							   <td>{{ post.category }}</td>
							   <td>{{ post.department }}</td>
							   <td>{{ post.type }}</td>
							   <td>{{ post.slug }}</td>
							   <td>{{ new Date(post.created_at).toLocaleString() }}</td>
							</tr>
					  	</tbody>
					</table>
				</div>
			</div>

			<!-- Create/Edit Post -->
			<div v-show="!isPostsListShowed" class="col row">
				<h3 class="col-12 mt-3">{{ !currentEditingPostId ? 'Add New Post' : 'Edit Post' }}</h3>
				<div class="col-md-8 col-lg-8 col-xl-8 col-12">
					<div class="form-group my-3">
    					<label for="title">Post Title</label>		
						<input type="text" 
							id="title"
							class="form-control " 
							placeholder="Enter title here" 
							v-model="postTitle">
							<span class="invalid-feedback" role="alert">
                               	<strong>Post Title must be filled</strong>
                            </span>
					</div>

					<div class="form-group my-3">
    					<label for="slug">URL for Post</label>		
						<input type="text" 
							id="slug"
							class="form-control" 
							placeholder="Enter URL for the post" 
							v-model="postSlug">
							<span class="invalid-feedback" role="alert">
                               	<strong>{{ slugError }}</strong>
                            </span>
					</div>

					<div class="form-group my-3">
    					<label for="feature-image">URL for Feature Image</label>		
						<input type="text"
							id="feature-image" 
							class="form-control" 
							placeholder="Enter URL for feature image" 
							v-model="postfeatureImage">
							<span class="invalid-feedback" role="alert">
                               	<strong>URL for Feature Image must be filled</strong>
                            </span>
					</div>

					<!-- <div class="editor-wrapper"> -->
						<!-- <summernote-editor height="300" :model.sync="editor" ref="editor"></summernote-editor> -->
						
					<!-- </div> -->
					<div class="form-group mt-3">
	    				<label for="content">Content</label>
						<textarea id="content" ref="editor" v-model="editor"></textarea>
					</div>
				</div>
				<div class="col-md-4 col-lg-4 col-xl-4 col-12 ml-auto">
					<div class="card mt-3">
						<div class="card-header bg-white">
							<h4 class="text-center">Publish</h4>
						</div>
		  				<div class="card-body">
							<div class="row my-2">
								<span class="fas fa-map-pin col-5 text-muted text-center"></span>
								<div class="col-5">
									<span class="text-muted">Status</span>
									<strong><span ref="postTypeStatus">Creating</span></strong>
								</div>
							</div>
							<div class="row my-2">
								<span class="col-5 text-muted text-center">Category</span>
								<select class="custom-select col-5" v-model="postCategory">
									<option value="news" selected>News</option>
									<option value="announcements">Announcement</option>
									<option value="activities">Activity</option>
									<!-- <option value="ucsh">UCSH</option> -->
								</select>	
							</div>
							<div class="row my-2">
								<span class="col-5 text-muted text-center">Department</span>
								<select v-if="isAdmin" class="custom-select col-5" v-model="postDepartment">
									<option v-for="role in roles">{{ role.name }}</option>
								</select>
								<select v-else class="custom-select col-5" v-model="postDepartment">
									<option>{{ user.role.name }}</option>
								</select>	
							</div>
						</div>
						<div class="card-footer bg-white">
							<div class="row">
								<button class="btn btn-danger ml-3" 
									@click="discardPost">
									<span class="fas fa-times mr-1"></span>Discard
								</button>
								<button class="btn btn-secondary ml-auto" 
									@click="savePost('draft')"><span class="fas fa-edit mr-1">
									</span>Draft
								</button>
								<button class="btn btn-primary ml-auto mr-3" 
									@click="savePost('published')">
									<span class="fas fa-upload mr-1"></span>Publish
								</button>
							</div>
						</div>	
					</div>
				</div>
			</div>
		</div>

		<!-- Bulk Delete -->
		<v-dialog
	      v-model="bulkDeleteDialog"
	      max-width="500">
	    	<v-card>
        		<v-card-title class="headline red text-white">
        			{{ currentPostsType == 'trash' ? 'Are you sure to permanently delete selected files?' : 'Are you sure to trash selected files?' }}
        		</v-card-title>
        		<v-card-text>
        			{{ selectedPostsIds.length  }}&nbsp;Items
        		</v-card-text>
        		<v-card-actions>
          			<v-spacer></v-spacer>
			         <v-btn
			            color="red darken-1"
			            flat="flat"
			            @click="bulkAction">
			            	{{ currentPostsType == 'trash' ? 'Delete' : 'Trash' }}
			         </v-btn>

		          	<v-btn
			            color="blue darken-1"
			            flat="flat"
			            @click="bulkDeleteDialog = false">
			            Cancel
		          	</v-btn>
        		</v-card-actions>
      		</v-card>
	  	</v-dialog>

	  	<!-- Bulk Restore -->
		<v-dialog
	      v-model="bulkRestoreDialog"
	      max-width="500">
	    	<v-card>
        		<v-card-title class="headline blue text-white">Are you sure to restore selected files?</v-card-title>
        			<v-card-text>
        				{{ selectedPostsIds.length  }}&nbsp;Items
        			</v-card-text>
        			<v-card-actions>
          			<v-spacer></v-spacer>
			         <v-btn
			            color="blue darken-1"
			            flat="flat"
			            @click="bulkRestore">
			            	Restore
			         </v-btn>

		          	<v-btn
			            color="gray darken-1"
			            flat="flat"
			            @click="bulkRestoreDialog = false">
			            Cancel
		          	</v-btn>
        		</v-card-actions>
      		</v-card>
	  	</v-dialog>
	</div>
</template>

<script>
	require('summernote/dist/summernote-bs4')
	import { mapState } from 'vuex'
	export default {
    	data(){
    		return {
    			isPostsListShowed: true, // set true to show list, set false to shwo Create/Edit
    			searchKey: '',
    			sortKey: 'date',
    			sortReverse: false,
    			postTitle: '',
    			postCategory: 'news',
    			postDepartment: user.role.name,
    			postSlug: '',
    			slugError: 'Slug must be filled',
    			postfeatureImage: '',
    			editor: '',
    			currentEditingPostId: false,
			    currentPostsType: 'all', //all, published, draft, trash
			    isCheckAll: false,
			    checkedPosts:[],
			    selectedPostsIds: [],
			    bulkDeleteDialog: false,
			    bulkRestoreDialog: false,
			    years: [],
    			months: [],
    			selectedYear: '',
    			selectedMonth: ''
    		}
    	},
    	methods:{
    		changeCurrentPostsType:function(event){
    			this.isCheckAll = false
			    this.checkedPosts = []
			    this.selectedPostsIds = []
    			this.currentPostsType = event.target.attributes['data-type'].value
    			for(let i=0; i < this.$refs.postTypes.children.length; i++){
    				this.$refs.postTypes.children[i].className="text-primary"
    			}
    			event.target.className = 'active'
    		},
    		select: function(event){
    			let id = parseInt(event.target.dataset.id)
    			this.isCheckAll = false
    			if(this.selectedPostsIds.includes(id))
    				this.selectedPostsIds = this.selectedPostsIds.filter( p => p != id)
    			else
    				this.selectedPostsIds.push(id)
    		},
    		bulkSelect: function(){
    			let self = this
	    		self.isCheckAll = !self.isCheckAll
			    self.checkedPosts = []
			    self.selectedPostsIds = []

			    if(self.isCheckAll){ // Check all
			      	self.filteredPosts.forEach( (post) => {
			        	self.checkedPosts.push(true)
			        	self.selectedPostsIds.push(post.id)
			       	})
			    }
    		},
    		bulkAction: function(){
    			if(this.currentPostsType == 'all' || 
    				this.currentPostsType == 'published' || 
    				this.currentPostsType == 'draft')
    				this.bulkTrash()

    			else if(this.currentPostsType == 'trash')
    				this.bulkDelete()
    		},
    		bulkDelete: function(){
    			if(this.selectedPostsIds.length){
	    			axios.put(`/api/posts/bulk-delete`, {posts: this.selectedPostsIds}).then(response => {
	    				if(response.data == true)
		    			this.$store.commit('bulkDeletePosts', this.selectedPostsIds)
		    			this.isCheckAll = false
		    			this.checkedPosts = []
		    			this.selectedPostsIds = []
		    			this.bulkDeleteDialog = false
					})
	    		}
    		},
    		bulkTrash: function(){
    			if(this.selectedPostsIds.length){
	    			axios.put(`/api/posts/bulk-trash`, {posts: this.selectedPostsIds}).then(response => {
	    				if(response.data == true)
		    			this.$store.commit('bulkTrashPosts', this.selectedPostsIds)
		    			this.isCheckAll = false
		    			this.checkedPosts = []
		    			this.selectedPostsIds = []
		    			this.bulkDeleteDialog = false
					})
	    		}
    		},
    		bulkRestore: function(){
    			if(this.selectedPostsIds.length){
	    			axios.put(`/api/posts/bulk-restore`, {posts: this.selectedPostsIds}).then(response => {
	    				if(response.data == true)
		    			this.$store.commit('bulkRestorePosts', this.selectedPostsIds)
		    			this.isCheckAll = false
		    			this.checkedPosts = []
		    			this.selectedPostsIds = []
		    			this.bulkRestoreDialog = false
					})
	    		}
    		},
    		addNewPost: function(){
    			this.isPostsListShowed = false
    			this.postTitle = ''
    			this.postSlug = ''
    			this.postfeatureImage = ''
    			this.editor = ''
    			$(this.$refs.editor).summernote("code", this.editor);
    		},
    		editPost: function(event){
    			let post 
    			this.isPostsListShowed = false

    			axios.get(`/api/posts/${event.target.parentElement.parentElement.id}`).then(response => {
	            	post = response.data
	            	this.currentEditingPostId = post.id
	    			this.postTitle = post.title
	    			this.editor = post.content
	    			this.postCategory = post.category
	    			this.postDepartment = post.department
	    			this.postSlug = post.slug
	    			this.postfeatureImage = post.feature_image
	    			this.$refs.postTypeStatus.innerText = post.type.replace(/\b\w/g, c => c.toUpperCase())
	    			$(this.$refs.editor).summernote("code", this.editor)
	        	})
    		},
    		discardPost: function(){
    			this.currentEditingPostId = false
    			this.isPostsListShowed = true
    			this.slugError = 'Slug must be filled'
    			$('#title, #slug, #feature-image').removeClass('is-invalid')
    			$('#title, #slug, #feature-image').removeClass('is-valid')
    		},
    		savePost: function(type){
    			if(!this.postTitle)
    				$('#title').addClass('is-invalid')
    			else{
    				$('#title').removeClass('is-invalid')
    				$('#title').addClass('is-valid')
    			}

    			if(!this.postSlug){
    				this.slugError = 'Slug must be filled'
    				$('#slug').addClass('is-invalid')
    			}
    			else{
    				$('#slug').removeClass('is-invalid')
    				$('#slug').addClass('is-valid')
    			}

    			if(!this.postfeatureImage)
    				$('#feature-image').addClass('is-invalid')
    			else{
    				$('#feature-image').removeClass('is-invalid')
    				$('#feature-image').addClass('is-valid')
    			}

    			if(!this.postTitle || !this.postSlug || !this.postfeatureImage)
    				return

    			let post = {}
    			// make editing
    			if(this.currentEditingPostId){
    				post = this.filteredPosts.find( post => post.id == this.currentEditingPostId)
    				// check whether post is edited or not
    				if(this.postTitle != post.title || this.editor != post.content ||
    					this.postCategory != post.category || this.postDepartment != post.department ||
    					this.postSlug != post.slug || this.postfeatureImage != post.feature_image || 
    					this.type != post.type){
	    				post.title = this.postTitle
	    				post.category = this.postCategory
	    				post.department = this.postDepartment
	    				post.slug = this.postSlug
	    				post.feature_image = this.postfeatureImage
	    				post.content = this.editor
	    				post.type = type

	    				axios.put(`/api/posts/${post.id}`, post).then(response => {
	    					console.log(response.data)
	    					if(!response.data){ // if return fasle
		    					$('#slug').addClass('is-invalid')
		    					this.slugError = 'slug already used!'
		    				}else{
	    						this.$store.commit('editPost', post)
		    					this.currentEditingPostId = false
			    				this.isPostsListShowed = true
		    				}
				        })
	    			}
    			}
    			// create new post
    			else{
    				post.title = this.postTitle
	    			post.category = this.postCategory
	    			post.department = this.postDepartment
	    			post.slug = this.postSlug
	    			post.feature_image = this.postfeatureImage
	    			post.content = this.editor
	    			post.type = type
	    			axios.post('/api/posts/', post).then(response => {
	    				if(!response.data){ // if return fasle
	    					$('#slug').addClass('is-invalid')
	    					this.slugError = 'slug already used!'
	    					return
	    				}
	    				else{
	    					this.$store.commit('addNewPost', response.data)
	    					this.isPostsListShowed = true
	    				}
				    })
    			}
    			$('#title, #slug, #feature-image').removeClass('is-invalid')
    			$('#title, #slug, #feature-image').removeClass('is-valid')
    		},
    		trashPost: function(event) {
    			let id = event.target.parentElement.parentElement.id
	    		axios.put(`/api/posts/trash/${id}`).then(response => {
	    			if(response.data == true)
    				this.$store.commit('trashPost', id)
				})
				return
    		},
    		deletePost: function(event){
    			let id = event.target.parentElement.parentElement.id 
    			axios.delete(`/api/posts/${id}`).then(response => {
	    				this.$store.commit('deletePost', id)
				    })
    		},
    		restorePost: function(event){
    			let id = event.target.parentElement.parentElement.id 
	    		axios.put(`/api/posts/restore/${id}`).then(response => {
	    			if(response.data == true)
    				this.$store.commit('restorePost', id)
				})
				return
    		},
    		changeYear: function(){
    			this.getPosts()
    		},
    		changeMonth: function(){
    			this.getPosts()
    		},
    		getPosts: function(){
    			if(this.selectedMonth == 'All'){
	    			axios.get(`/api/posts/yearly-posts/${this.selectedYear}`).then(response => {
		            	this.$store.commit('assignPosts', response.data)
		            	console.log(response.data)
		        	})
		        	return
    			}
    			axios.get(`/api/posts/monthly-posts/${this.selectedYear}/${this.selectedMonth}`).then(response => {
	            	this.$store.commit('assignPosts', response.data)
	        	})
    		},
    		sortBy: function(sortKey){
    			this.sortReverse = (this.sortKey == sortKey) ? !this.sortReverse : false
    			if(window.event.target.className[0] == 'f'){
    				if(this.sortReverse)
    					window.event.target.className = 'fas fa-sort-down'
    				else
    					window.event.target.className = 'fas fa-sort-up'
    			}
    			else{
    				if(this.sortReverse)
	    				window.event.target.firstElementChild.className = 'fas fa-sort-down'
	    			else
	    				window.event.target.firstElementChild.className = 'fas fa-sort-up'
    			}
      			this.sortKey = sortKey
    		}
    	},
    	computed: {
			filteredPosts: function () {
			    let self = this
			    let posts = []
			    switch(self.currentPostsType){
			    	case 'all': 
		  				posts = self.allPosts.all
		  				break
		  			case 'published': 
		  				posts = self.allPosts.published
		  				break
			    	case 'draft': 
		  				posts = self.allPosts.draft
		  				break
		  			case 'trash':
		  				posts = self.allPosts.trash
		  				break
			    }
			    return  _.orderBy(posts.filter( post => {
			      var searchRegex = new RegExp(self.searchKey, 'i')
				  return (searchRegex.test(post.title) || searchRegex.test(post.category) || 
				  		searchRegex.test(post.department) || searchRegex.test(post.slug) || 
				  		searchRegex.test(post.created_at))
			    }),self.sortKey, self.sortReverse ? 'desc' : 'asc')
		  	},
		  	allPosts: function(){
		  		let all = this.posts
		  		let published = []
		  		let draft = []
		  		let trash = []
		  		all.forEach( post => {
		  			switch(post.type){
		  				case 'published': 
		  					published.push(post)
		  					break
		  				case 'draft': 
		  					draft.push(post)
		  					break
		  				case 'trash':
		  					trash.push(post)
		  					break
		  			}
		  		})
		  		return {all: all, published: published, draft: draft, trash: trash}

		  	},
		  	...mapState([
		  		'posts', 'isAdmin', 'user', 'roles'
		  	])
		},
		created(){
	        axios.get('/api/posts').then(response => {
	            this.months = ['All', 'January', 'February', 'March', 'April', 'May', 'June', 
				  			'July', 'August', 'September', 'October', 'November', 'December']
	            this.years = response.data.years
	            this.selectedYear = this.years[0]
	            this.selectedMonth = this.months[0]
	            this.$store.commit('assignPosts', response.data.posts)
	        })
		},
		mounted(){
			let summernoteConfig = {
                height: 300
            };
            let vm = this;
            summernoteConfig.callbacks = {
                onInit: function () {
                    $(vm.$refs.editor).summernote("code", vm.editor);
                },
                onChange: function () {
                    // vm.$emit('update:model', $(vm.$refs.editor).summernote('code'));
                    vm.editor = $(vm.$refs.editor).summernote('code')
                },
            };
			$(this.$refs.editor).summernote(summernoteConfig);

			if(!this.isAdmin)
				this.postDepartment = this.user.role.name
	    },
    }
</script>

<style scoped>
	.active{
		font-weight: bold;
	}
	.sorting-indicator{
		visibility: hidden;
	}
	.column-name{
		font-weight: bold;
	}
	.column-name:hover .sorting-indicator{
		visibility: visible;
	}
	.post-type > a, .post-actions > a{
		cursor: pointer;
		text-decoration: none;
	}
	.post-actions{
		transform: translateX(35px);
		visibility: hidden;
	}
	.bulk-action:hover{
    	transform: scale(1.2, 1.2);
    }
	input[type="checkbox"] {
		width: 1.3em;
  		height: 1.3em;
  		margin-right: 15px;
  		transform: translateY(5px);
  		cursor: pointer;
	}
	tr:hover > td > .post-actions{
		visibility: visible;
	}
	.posts-list-header{
		border-top: 3px solid #3490dc !important;
		border-radius: 5px;
	}
	.posts-list-header > table{
		margin-bottom: 0 !important;
	}
	.card{
		border-top: 3px solid #3490dc !important;
		border-left: 0 !important;
		border-right: 0 !important;
		border-bottom: 0 !important;
		border-radius: 5px;
		box-shadow: 5px 5px 25px 0 rgba(46,61,73,.2);
	}
	.posts-list-wrapper{
		overflow-y: scroll; 
		height: 65vh;
	}
	/*.editor-wrapper{
		overflow-y: scroll; 
		height: 50vh;
	}*/

	@media screen and  (max-width: 576px) {
		.editor-wrapper{
			height: 50vh !important;
		}
	}
</style>
