<template>
    <div>
	    <div class="sidenav" id="mySidenav">
			<!-- <a href="javascript:void(0)" class="closebtn" @click="closeNav">&times;</a> -->
			<div class="nav-hader text-center">
				<h4 class="text-white">{{ user.name }}</h4>
				<h6>{{ user.email }}</h6>
				<hr>
			</div>
			<ul class="list-unstyled" ref="navLinks">
				<li v-if="isAdmin" class="active" @click="changeActive">
					<router-link to="/"><span class="fas fa-tachometer-alt mr-1"></span>&nbsp;&nbsp;Dashboard</router-link>
				</li>
				<li @click="changeActive">
					<router-link to="/posts"><span class="fas fa-thumbtack mr-1"></span>&nbsp;&nbsp;Posts</router-link>
				</li>
				<li @click="changeActive">
					<router-link to="/pages"><span class="fas fa-file mr-1"></span>&nbsp;&nbsp;Pages</router-link>
				</li>
				<li @click="changeActive">
					<router-link to="/media"><span class="fas fa-image mr-1"></span>&nbsp;&nbsp;Media</router-link>
				</li>
				<li v-if="isAdmin" @click="changeActive">
					<router-link to="/mailbox"><span class="fas fa-envelope mr-1"></span>&nbsp;&nbsp;Mailbox</router-link>
				</li>
				<li @click="changeActive">
					<router-link to="/account"><span class="fas fa-user mr-1"></span>&nbsp;&nbsp;Account</router-link>
				</li>
				<li v-if="isAdmin" @click="changeActive">
					<router-link to="/users"><span class="fas fa-users mr-1"></span>&nbsp;&nbsp;Users</router-link>
				</li>

				<li>
					<a href="/logout" onclick="event.preventDefault();
                            document.getElementById('logout-form').submit();">
                        <span class="fas fa-sign-out-alt mr-1"></span>&nbsp;&nbsp;Logout
                    </a>
				</li>
			</ul>
		</div>
    </div>
</template>

<script>
	import { mapState } from 'vuex'
    export default {
    	methods:{
    		closeNav: function(){
    			 document.getElementById("mySidenav").style.width = "0";
    		},
    		changeActive:function(event){
    			for(let i=0; i < this.$refs.navLinks.children.length; i++){
    				this.$refs.navLinks.children[i].className=""
    			}
    			event.target.parentElement.className="active"
    		}
    	},
    	computed:{
    		...mapState([
		  		'isAdmin', 'user'
		  	])
    	}
    }
</script>

<style scoped>
	hr{
        margin-top: 1em;
        margin-bottom: 1em;
        border: 0;
        /*border-top: 1px solid rgba(0, 0, 0, 0.1);*/
        border-top: 1px solid white;
    }
	.sidenav .nav-hader{
		padding-top: 10px;
		padding-bottom: 10px;
		display: block;
		color: #a1a1a1;
	}
	.sidenav ul > li > a {
		/*padding: 8px 8px 8px 16px;*/
		padding: 10px 10px 10px 30px;
		text-decoration: none;
		color: #a1a1a1;
		display: block;
		transition: 0.5s;
	}

	.sidenav ul > li{
		transition: 0.3s;
	}

	.sidenav ul > li.active{
		background: #1a8cff;
	}

	.sidenav ul > li.active > a{
		color: #fff;
	}

	.sidenav ul > li:hover{
		background: #1a8cff;
	}
	.sidenav ul > li:hover > a{
		color: #fff;
	}

	/*@media screen and  (min-width: 576px) {
		.closebtn{
			display: none;
		}
		.sidenav{
			width: 150px;
			height: 93.2vh;
		}
	}

	@media screen and  (max-width: 576px) { 
		.sidenav {
		    height: 94vh; 
		    width: 0; 
		    position: fixed; 
		    z-index: 5001; 
		    top: 6vh; 
		    left: 0;
		    background-color: #111; 
		    overflow-x: hidden; 
		    transition: 0.5s; 
		}

		.sidenav > .closebtn {
		    position: absolute;
		    top: 0;
		    right: 25px;
		    font-size: 18px;
		    margin-left: 50px;
		    color: #a1a1a1;
		}
	}
	
	@media screen and (max-height: 450px) {
	   	.sidenav {padding-top: 15px;}
	    .sidenav a {font-size: 18px;}

	}*/
</style>
