<template>
	<div>
		<div class="card">
			<div class="card-header mx-3 bg-white">
				<div class="row">
					<h3><span class="far fa-clipboard mx-3"></span>To Do List</h3>
					<span :class="showed ? 
						'fas fa-chevron-up up-down-indicator ml-auto mr-3' : 
						'fas fa-chevron-down up-down-indicator ml-auto mr-3'" 
						@click="showed = !showed"></span>
				</div>
			</div>
			<div  class="card-body">
				<div class="row mr-3 mb-3">
					<!-- <a data-toggle="modal" data-target="#createModal" class="btn ml-auto">
						<span class="fas fa-lg fa-plus-circle text-success"></span>
					</a> -->
					<v-btn fab small dark 
						color="green"
						class="ml-auto"
						@click="createEditdialog=true">
				    	<v-icon>add</v-icon>
				    </v-btn>
				</div>
				<ul v-show="showed" v-for="item in toDoList" class="list-group list-group-flush">
			  		<li class="list-group-item list-group-item-action">
			  			<div class="row mx-3" :id="item.id">
			  				<input v-if="item.status=='done'" class="form-check-input" 
			  					type="checkbox"
			  					checked
			  					@click="toggleCheck">
			  				<input v-else class="form-check-input" 
			  					type="checkbox"
			  					@click="toggleCheck">
			  				<span :class="item.status == 'done' ? 'done' : 'undone'">{{ item.todo }}</span>
			  				<div class="actions ml-auto">
								<span class="fas fa-edit text-success mx-1"
									@click="editToDoItem"></span>
								<span class="far fa-trash-alt text-danger mx-1" @click="deleteToDoItem"></span>
							</div>
			  			</div>
			  		</li>
				</ul>
			</div>
		</div>

		<!-- Create/Edit todo item dialog -->
		<v-dialog
			class="ml-auto"
			v-model="createEditdialog"
			width="500">
	      	<v-card>
				<v-card-title
					class="headline green text-white"
					primary-title>
					{{ isEditing ? 'Edit todo item' : 'Add new todo item' }}
				</v-card-title>

				<v-card-text>
					<input type="text" 
		        		id="to-do"
		        		class="form-control" 
		        		placeholder="Enter todo item"
		        		required 
		        		v-model='toDoItem' 
		        		@keydown.enter="addNewToDoItem">
		        		<span class="invalid-feedback mm-text" role="alert">
		                	<strong>Must fill the item</strong>
		            	</span>
				</v-card-text>

				<v-card-actions>
					<v-spacer></v-spacer>
					<v-btn
					 	color="red"
					   	flat
					 	@click="createEditdialog = false">
						Cancel
					</v-btn>
					<v-btn
						color="blue"
					    flat
						@click="addNewToDoItem">
					 	{{ isEditing ? 'Save' : 'Add' }}
					</v-btn>
				</v-card-actions>
	    	</v-card>
    	</v-dialog>
	</div>
</template>

<script>
	import { mapState } from 'vuex'
	let i=2
    export default {
    	data(){
    		return{
    			showed: true,
    			isEditing: false,
    			createEditdialog: false,
    			currentEditingItemId: '',
    			toDoItem: '',
    		}
    	},
    	methods: {
    		toggleCheck: function(event){
    			let item = this.toDoList.find( item => item.id ==  event.target.parentElement.id)

    			if(event.target.nextElementSibling.className == "undone")
    				item.status = "done"
    			else
    				item.status = "undone"

	    		axios.put(`/api/todo-items/${item.id}`, item).then(response => {
	    			if(response.data == true)
	    				this.$store.commit('editToDoItem', item)
				})
    		},
    		addNewToDoItem: function(){
    			let item = {}
    			if(this.toDoItem == ''){
        			$('#to-do').addClass('is-invalid') 
        			return
    			}
        		else
        			$('#to-do').removeClass('is-invalid') 

    			if(this.toDoItem){
    				if(this.isEditing){
	    				item = this.toDoList.find( item => item.id ==  this.currentEditingItemId)
	    				item.todo = this.toDoItem
	    				axios.put(`/api/todo-items/${item.id}`, item).then(response => {
	    					if(response.data == true)
	    						this.$store.commit('editToDoItem', item)
				        })

	    				this.isEditing = false
	    				this.createEditdialog = false
	    				this.currentEditingItemId = ''
	    			}
	    			else{
	    				item.todo = this.toDoItem
	    				axios.post('/api/todo-items/', item).then(response => {
	    					this.$store.commit('addNewToDoItem', response.data)
				    	})
	    			}
    				this.toDoItem = ''
    				this.createEditdialog = false
    			}
    		},
    		editToDoItem: function(event){
    			this.isEditing = true
    			this.createEditdialog = true
    			this.currentEditingItemId = event.target.parentElement.parentElement.id
    			this.toDoItem = this.toDoList.find( item => item.id ==  this.currentEditingItemId).todo
    		},
    		deleteToDoItem: function(event){
    			let item = this.toDoList.find( item => item.id == event.target.parentElement.parentElement.id )
    			axios.delete(`/api/todo-items/${item.id}`).then(response => {
	    			this.$store.commit('deleteToDoItem', item)
				})
    		}
    	},
    	computed: {
    		...mapState([
		  		'toDoList'
		  	])
    	},
    	created(){
	        axios.get('/api/todo-items').then(response => {
	            this.$store.commit('assigntoDoList', response.data)
	        })
		},
    }
</script>

<style scoped>
	.card{
		border: 1px solid rgba(0,0,0,0.1) !important;
		border-top: 3px solid #3490dc !important;
		/*border-left: 0 !important;
		border-right: 0 !important;
		border-bottom: 0 !important;*/
		border-radius: 5px;
		box-shadow: 5px 5px 25px 0 rgba(46,61,73,.2);
	}
	.list-group-item{
		margin: 2px;
		border: 1px solid rgba(0,0,0,0.1) !important;
		border-left: 1px solid #3490dc !important;
	}
	input[type="checkbox"] {
		width: 1.3em;
  		height: 1.3em;
  		transform: translateY(-4px);
  		cursor: pointer;
	}
	.actions{
		visibility: hidden;
	}
	.actions:hover > span, .up-down-indicator:hover{
		cursor: pointer;
	}
	.actions > span:hover{
		transform: scale(1.2, 1.2);
	}
	.undone{
		margin-left: 10px;
	}
	.done{
		text-decoration: line-through;
		/*color: #999;*/
		color: #dd4b39;
		margin-left: 10px;
	}
	li:hover > div > .actions{
		visibility: visible;
	}
</style>
