<template>
	<div class="container-fluid">
		<div class="row">
			<div class="col-12">
				<h3>Users</h3>
				<button class="btn btn-success" @click="addUser">Add New</button>
			</div>

			<!-- List Users -->
			<div v-show="isUserListShowed" class="col-12 mt-4">
				<div class="table-responsive bg-white users-list-header">
					<table class="table table-hover table-striped">
						<thead>
							<tr class="text-primary">
					      		<th scope="col">
					      			<div class="row justify-content-around">
						      			<span>Name</span>
										<span>Created at</span>
										<span>Ations</span>
									</div>
					      		</th>
					    	</tr>
					  	</thead>
					  	<tbody ref="tbody">
					    	<tr v-for="sysUser in users">
							   <td v-if="sysUser.id != user.id ">
							   		<div class="row justify-content-around">
						      			<span>{{ sysUser.name }}</span>
						      			<span>{{ new Date(user.created_at).toLocaleString() }}</span>
										<div :id="sysUser.id" class="actions">
											<span class="fas fa-edit text-success mx-2"
												@click="editUser">

											</span>
											<span class="far fa-trash-alt text-danger mx-2"
												data-toggle="modal" 
												data-target="#deleteUserModal"
												@click="selectToDeleteUser" > 
											</span>
										</div>
									</div>
								</td>
							</tr>
					  	</tbody>
					</table>
				</div>
			</div>
			
			<!-- Edit/Add User -->
			<div v-show="!isUserListShowed" class="col-12 mt-4">
				<div class="card mt-3">
	                <div class="card-header">{{ currentSelectedUser ? 'Edit' : 'Add' }} User</div>
	                <div class="card-body">
	                    <form method="post">
	                    	<div class="form-group row">
	                            <label for="name" class="col-md-4 col-form-label text-md-right">Name</label>

	                            <div class="col-md-6">
	                                <input id="name" v-model="name" type="text" class="form-control" name="name" placeholder="Enter name" required>
	                                <span class="invalid-feedback" role="alert">
	                                    <strong>{{ nameError }}</strong>
	                                </span>
	                            </div>
	                        </div>

	                        <div v-if="!currentSelectedUser" class="form-group row">
	                            <label for="role" class="col-md-4 col-form-label text-md-right">Role</label>

	                            <div class="col-md-6">
	                                <select id="role" class="custom-select col-5">
										<option v-for="role in roles" :value="role.id">{{ role.name }}</option>
									</select>
	                            </div>
	                        </div>

	                    	<div class="form-group row">
	                            <label for="email" class="col-md-4 col-form-label text-md-right">Email</label>

	                            <div class="col-md-6">
	                                <input id="email" v-model="email" type="email" class="form-control" name="email" placeholder="Enter email address" required>
	                                <span class="invalid-feedback" role="alert">
	                                    <strong>{{ emailError }}</strong>
	                                </span>
	                            </div>
	                        </div>

	                        <div class="form-group row">
	                            <label for="password" class="col-md-4 col-form-label text-md-right">Password</label>

	                            <div class="col-md-6">
	                                <input id="password" v-model="password" type="password" class="form-control" name="password" placeholder="Enter password at least 8 characters" required>
	                                <span class="invalid-feedback" role="alert">
	                                    <strong>{{ passwordError }}</strong>
	                                </span>
	                            </div>
	                        </div>

	                        <div class="form-group row mb-0">
	                            <div class="col-md-6 offset-md-4">
	                                <button  class="btn btn-danger" @click.prevent="discard">
	                                    Discard
	                                </button>
	                                <button type="submit" class="btn btn-primary" @click.prevent="save">
	                                    {{ currentSelectedUser ? 'Save' : 'Add' }}
	                                </button>
	                            </div>
	                        </div>
	                    </form>
	                </div>
	            </div>
			</div>
		</div>

		<!-- Modal to create todo item -->
		<div class="modal fade" id="deleteUserModal" tabindex="-1" role="dialog">
  			<div class="modal-dialog modal-sm modal-dialog-centered" role="document">
    			<div class="modal-content">
      				<div class="modal-header justify-content-center">
        				<h5 class="modal-title">
        					Are you sure to delete?
        				</h5>
        				<!-- <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          					<span aria-hidden="true">&times;</span>
        				</button> -->
      				</div>
     
      				<div class="modal-footer justify-content-center">
        				<v-btn small dark 
					        color="blue"
					        data-dismiss="modal">
					        Cancel
					    </v-btn>
					    <v-btn small dark 
					        color="red"
					        @click="deleteUser">
					        Delete
					    </v-btn>
      				</div>
    			</div>
  			</div>
		</div>
	</div>
</template>

<script>
	import { mapState } from 'vuex'
    export default {
    	data(){
    		return{
    			isUserListShowed: true,
    			currentSelectedUser: '',
    			name: '',
    			email: '',
    			password: '',
    			nameError: 'Name must be filled!',
    			emailError: 'Email must be filled!',
    			passwordError: 'Password must be filled at least 8 character'

    		}
    	},
    	methods:{
    		addUser: function(){
    			this.isUserListShowed = false
    		},
    		editUser: function(event){
    			this.currentSelectedUser = this.users.find( user => user.id ==  event.target.parentElement.id)
    			this.name = this.currentSelectedUser.name
    			this.email = this.currentSelectedUser.email
    			this.password = this.currentSelectedUser.password
    			this.isUserListShowed = false
    		},
    		selectToDeleteUser: function(event){
    			this.currentSelectedUser = this.users.find( u => u.id == event.target.parentElement.id )
    		},
    		deleteUser: function(event){
    			let user = this.currentSelectedUser
    			axios.delete(`/api/users/${user.id}`).then(response => {
	    				this.$store.commit('deleteUser', user)
				    })
	    		this.currentSelectedUser = ''
	    		$('#deleteUserModal').modal("hide")
    		},
    		discard: function(){
    			this.isUserListShowed = true
    			this.name = ''
    			this.email = ''
    			this.password = ''
    			this.currentSelectedUser =  ''
    		},
    		save: function(){
    			$('#email, #password, #name').removeClass('is-invalid') 
    			if(this.currentSelectedUser){
    				if(this.name != this.currentSelectedUser.name || 
    					this.email != this.currentSelectedUser.email || 
    					this.password != ''){
    					this.currentSelectedUser.name = this.name
    					this.currentSelectedUser.email = this.email
    					if(this.password)
    						this.currentSelectedUser.password = this.password
    					axios.put(`/api/users/${this.currentSelectedUser.id}`, this.currentSelectedUser).then(response => {
	    					if(response.data == true)
	    						this.$store.commit('editUser', this.currentSelectedUser)

		    				this.isUserListShowed = true
		    				this.name = ''
		    				this.email = ''
		    				this.password = ''
		    				this.currentSelectedUser =  ''
				        }).catch(error => {
				        	let errors = error.response.data.errors
				        	if(errors.name){
				        		this.nameError = errors.name[0]
				        		$('#name').addClass('is-invalid') 
				        	}
				        	if(errors.email){
				        		this.emailError = errors.email[0]
				        		$('#email').addClass('is-invalid') 
				        	}
				        	if(errors.password){
				        		this.passwordError = errors.password[0]
				        		$('#password').addClass('is-invalid')
				        	}
				        	
				        })
    				}
    			}
    			else{
    				let user = {}
    				user.name = this.name
    				user.email = this.email
    				user.password = this.password
    				user.role = $('#role').val()

    				axios.post('/api/users/', user).then(response => {
	    				this.$store.commit('addNewUser', response.data)
				    	this.isUserListShowed = true
    					this.name = ''
    					this.email = ''
    					this.password = ''
    					this.currentSelectedUser =  ''
				    }).catch(error => {
				        let errors = error.response.data.errors
				        if(errors.name){
				        	this.nameError = errors.name[0]
				        	$('#name').addClass('is-invalid') 
				        }
				        if(errors.email){
				        	this.emailError = errors.email[0]
				        	$('#email').addClass('is-invalid') 
				        }
				        if(errors.password){
				        	this.passwordError = errors.password[0]
				        	$('#password').addClass('is-invalid')
				        }
				        	
				    })
    			}
    		}
    	},
    	computed: {
		  	...mapState([
		  		'users', 'user', 'roles'
		  	])
		},
		created(){
	        axios.get('/api/users').then(response => {
	            this.$store.commit('assignUsers', response.data)
	        })
		},
    }
</script>

<style scoped>
	.actions{
		visibility: hidden;
	}
	.actions:hover > span{
		cursor: pointer;
	}
	tr:hover > td > div > .actions{
		visibility: visible;
	}

	.users-list-header{
		border-top: 3px solid #3490dc !important;
		border-radius: 5px;
	}
</style>
